In [204]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# Load the data

In [205]:
movies=pd.read_csv('train.csv')

In [206]:
movies.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

# EDA

In [207]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
id                       3000 non-null int64
belongs_to_collection    604 non-null object
budget                   3000 non-null int64
genres                   2993 non-null object
homepage                 946 non-null object
imdb_id                  3000 non-null object
original_language        3000 non-null object
original_title           3000 non-null object
overview                 2992 non-null object
popularity               3000 non-null float64
poster_path              2999 non-null object
production_companies     2844 non-null object
production_countries     2945 non-null object
release_date             3000 non-null object
runtime                  2998 non-null float64
spoken_languages         2980 non-null object
status                   3000 non-null object
tagline                  2403 non-null object
title                    3000 non-null object
Keywords                 2724 non-null object
cast                     2987 non-null object
crew                     2984 non-null object
revenue                  3000 non-null int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.1+ KB

### There are 3000 records in this dataset. There are missing values in many attributes. Not all attributes are required for the model.

# Removing unnecessary columns from the dataset

In [208]:
movies_reduce = movies.drop(columns=['id','belongs_to_collection','homepage','imdb_id','original_title','overview','poster_path','production_countries','release_date','spoken_languages','status','tagline','title','Keywords','crew'])

In [209]:
movies_reduce.head()

,budget,genres,original_language,popularity,production_companies,runtime,cast,revenue
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",en,6.575393,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",93.0,"[{'cast_id': 4, 'character': 'Lou', 'credit_id...",12314651
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,8.248895,"[{'name': 'Walt Disney Pictures', 'id': 2}]",113.0,"[{'cast_id': 1, 'character': 'Mia Thermopolis'...",95149435
2,3300000,"[{'id': 18, 'name': 'Drama'}]",en,64.299990,"[{'name': 'Bold Films', 'id': 2266}, {'name': ...",105.0,"[{'cast_id': 5, 'character': 'Andrew Neimann',...",13092000
3,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",hi,3.174936,NaN,122.0,"[{'cast_id': 1, 'character': 'Vidya Bagchi', '...",16000000
4,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",ko,1.148070,NaN,118.0,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...",3923970

In [210]:
movies_reduce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 8 columns):
budget                  3000 non-null int64
genres                  2993 non-null object
original_language       3000 non-null object
popularity              3000 non-null float64
production_companies    2844 non-null object
runtime                 2998 non-null float64
cast                    2987 non-null object
revenue                 3000 non-null int64
dtypes: float64(2), int64(2), object(4)
memory usage: 187.6+ KB

In [211]:
movies_reduce.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
budget,3000,NaN,NaN,NaN,2.25313e+07,3.70261e+07,0,0,8e+06,2.9e+07,3.8e+08
genres,2993,872,"[{'id': 18, 'name': 'Drama'}]",266,NaN,NaN,NaN,NaN,NaN,NaN,NaN
original_language,3000,36,en,2575,NaN,NaN,NaN,NaN,NaN,NaN,NaN
popularity,3000,NaN,NaN,NaN,8.46327,12.104,1e-06,4.01805,7.37486,10.891,294.337
production_companies,2844,2383,"[{'name': 'Paramount Pictures', 'id': 4}]",51,NaN,NaN,NaN,NaN,NaN,NaN,NaN
runtime,2998,NaN,NaN,NaN,107.857,22.0864,0,94,104,118,338
cast,2987,2975,[],13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
revenue,3000,NaN,NaN,NaN,6.67259e+07,1.37532e+08,1,2.37981e+06,1.68071e+07,6.89192e+07,1.51956e+09

# The attributes budget, popularity and revenue has outliers

# Data pre-processing

### Consider only first 2 values of genre for model

In [212]:
import json
lst_genre = []
lst_genre2 = []

for row in movies_reduce['genres']:
    if str(row).strip('[]') !='nan':
        d=eval(str(row).strip('[]'))
        if str(type(d)) == "<class 'dict'>":
            lst_genre.append(str(d['id']))
            lst_genre2.append(str(0)) 
            #print(d['id'])
        else:
            idlist1=''
            idlist2=''
            for i in range(2):
                if (i == 0 and str(d[i]['id'])):
                    lst_genre.append(str(d[i]['id']))
                else:
                    if (i == 1 and str(d[i]['id'])):
                        idlist2 = str(d[i]['id']) 
                        lst_genre2.append(str(d[i]['id']))  
                    else:
                        if i == 1:
                            lst_genre2.append(str(0)) 
                            
    else:
        lst_genre.append(str(0)) 
        lst_genre2.append(str(0)) 
        
df_genre = pd.DataFrame(lst_genre) 
df_genre2 = pd.DataFrame(lst_genre2) 
df_genre.columns=['genre1']
df_genre2.columns=['genre2']

In [213]:
df_genre2.head()

  genre2
0      0
1     18
2      0
3     18
4     53

In [214]:
#from sklearn.feature_extraction.text import CountVectorizer
#v=CountVectorizer()
#new_df_genre=v.fit_transform(df_genre['genre'])
#new_df_genre

In [215]:
#print(v.get_feature_names())

In [216]:
#df_genre_fin=pd.DataFrame(new_df_genre.toarray())
#genre_col_nm=[]
#for i in v.get_feature_names():
 #   genre_col_nm.append('genre_' + i)
#df_genre_fin.columns=genre_col_nm

### Consider only one value for production co

In [217]:
lst_prodco = []
for row in movies_reduce['production_companies']:
    if str(row).strip('[]') !='nan':
        d=eval(str(row).strip('[]'))
        if str(type(d)) == "<class 'dict'>":
            lst_prodco.append(str(d['id']))
           # print(d['id'])
        else:
            idlist=''
            #print(str(len(d)))
            for i in range(1):
                idlist = idlist + ',' + str(d[i]['id'])
                #print(idlist)
            lst_prodco.append(str(idlist[1:]))
    else:
        lst_prodco.append(str(0)) 
        
df_prodco = pd.DataFrame(lst_prodco) 
df_prodco.columns=['prodco']

In [218]:
df_prodco.head()

  prodco
0      4
1      2
2   2266
3      0
4      0

In [219]:
#v1=CountVectorizer()
#new_df_prodco=v1.fit_transform(df_prodco['prodco'])
#new_df_prodco

In [220]:
#print(len(v1.get_feature_names()))

In [221]:
#df_prodco_fin=pd.DataFrame(new_df_prodco.toarray())
#prodco_col_nm=[]
#for i in v1.get_feature_names():
#    prodco_col_nm.append('prodco_' + i)
#df_prodco_fin.columns=prodco_col_nm

### Creating only 2 values for cast

In [222]:

lst_cast = []
lst_cast2 = []

for row in movies_reduce['cast']:
    #print(type(row))
    #if (row != '' and row != 'nan'):
    if (str(type(row)) == "<class 'str'>"):
        #print(row)
        #lst_cast.append(str(row).strip('[]'))
        #print(eval(row))
        d=eval(row)
        #print(str(type(d)))
        if len(d) == 0: #str(type(d)) == "<class 'int'>":
            #lst_cast.append(str(d['id']))
             lst_cast.append(str(0)) 
             lst_cast2.append(str(0)) 
        if len(d) == 1: #str(type(d)) == "<class 'int'>":
             lst_cast.append(str(d[0]['id'])) 
             lst_cast2.append(str(0)) 

        else:
            if len(d) > 1:
            #print(str(row).strip('[]'))
            #print(len(d))
                for i in range(2):
                #print(d[i]['id'])    
                    if  (i == 0 and str(d[i]['id'])):
                        lst_cast.append(str(d[i]['id']))
                else:
                    if (i == 1 and str(d[i]['id'])):
                        lst_cast2.append(str(d[i]['id']))
                    else:
                        if i == 1:
                            lst_cast2.append(str(0))
    else:
        lst_cast.append(str(0)) 
        lst_cast2.append(str(0)) 
        
df_cast = pd.DataFrame(lst_cast) 
df_cast.columns=['cast1']  
df_cast2 = pd.DataFrame(lst_cast2) 
df_cast2.columns=['cast2']

In [223]:
#from sklearn.feature_extraction.text import CountVectorizer
#v2=CountVectorizer()
#new_df_cast=v2.fit_transform(df_cast['cast'])
#new_df_cast

In [224]:
#print(len(v2.get_feature_names()))

In [225]:
#new_df_cast

In [226]:
#df_cast_fin=pd.DataFrame(new_df_cast.toarray())
#cast_col_nm=[]
#for i in v2.get_feature_names():
#    cast_col_nm.append('cast_' + i)
#df_cast_fin.columns=cast_col_nm

In [227]:
#df_cast_fin.head()

# EDA

In [228]:
movies_reduce.describe()

             budget   popularity      runtime       revenue
count  3.000000e+03  3000.000000  2998.000000  3.000000e+03
mean   2.253133e+07     8.463274   107.856571  6.672585e+07
std    3.702609e+07    12.104000    22.086434  1.375323e+08
min    0.000000e+00     0.000001     0.000000  1.000000e+00
25%    0.000000e+00     4.018053    94.000000  2.379808e+06
50%    8.000000e+06     7.374861   104.000000  1.680707e+07
75%    2.900000e+07    10.890983   118.000000  6.891920e+07
max    3.800000e+08   294.337037   338.000000  1.519558e+09

# Handling outliers

In [229]:
movies_reduce['budget'].std()

37026086.41198744

In [230]:
movies_reduce['budget'].median() + (movies_reduce['budget'].std()*2)

82052172.82397488

### Movies with budget > 2 standard deviation away from mean, replacing it with median

In [231]:
movies_reduce[movies_reduce['budget'] > (movies_reduce['budget'].median() + (movies_reduce['budget'].std()*2))]

,budget,genres,original_language,popularity,production_companies,runtime,cast,revenue
14,102000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",en,20.666063,"[{'name': 'DreamWorks SKG', 'id': 27}, {'name'...",145.0,"[{'cast_id': 5, 'character': 'Chief John Ander...",358372926
32,90000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",en,13.412445,"[{'name': 'Summit Entertainment', 'id': 491}, ...",106.0,"[{'cast_id': 0, 'character': 'Kaulder', 'credi...",146936910
34,140000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",en,9.718111,"[{'name': 'New Line Cinema', 'id': 12}]",91.0,"[{'cast_id': 2, 'character': 'Det. James Carte...",258022233
57,125000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",en,17.038824,"[{'name': 'PolyGram Filmed Entertainment', 'id...",125.0,"[{'cast_id': 4, 'character': 'Bruce Wayne / Ba...",238207122
60,150000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",en,23.065078,"[{'name': 'Eon Productions', 'id': 7576}, {'na...",144.0,"[{'cast_id': 1, 'character': 'James Bond', 'cr...",599045960
69,85000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",en,2.238808,"[{'name': 'Universal Pictures', 'id': 33}]",104.0,"[{'cast_id': 12, 'character': 'Sean Boswell', ...",158468292
112,100000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",en,11.696923,"[{'name': 'Imagine Entertainment', 'id': 23}, ...",122.0,"[{'cast_id': 2, 'character': 'Owen Chase', 'cr...",93820758
114,93000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,32.070725,"[{'name': 'WingNut Films', 'id': 11}, {'name':...",178.0,"[{'cast_id': 28, 'character': 'Frodo Baggins',...",871368364
120,90000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",en,8.345985,"[{'name': 'New Line Cinema', 'id': 12}]",90.0,"[{'cast_id': 10, 'character': 'Det. James Cart...",347325802
121,150000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",en,12.453452,"[{'name': 'Walt Disney Pictures', 'id': 2}]",88.0,"[{'cast_id': 9, 'character': 'Tarzan', 'credit...",448000000
139,110000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",en,0.913096,[{'name': 'Twentieth Century Fox Film Corporat...,133.0,"[{'cast_id': 8, 'character': 'Charles Xavier /...",407711549
176,90000000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",en,5.496624,"[{'name': 'United Artists', 'id': 60}, {'name'...",91.0,"[{'cast_id': 6, 'character': 'Nick Vanzant', '...",14828081
184,82500000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,9.796552,"[{'name': 'Original Film', 'id': 333}, {'name'...",107.0,"[{'cast_id': 1, 'character': 'Michael Newman',...",237681299
188,180000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",en,16.088366,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",98.0,"[{'cast_id': 12, 'character': 'WALL¬∑E / M-O (...",521311860
200,85000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",en,10.254314,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",97.0,"[{'cast_id': 21, 'character': 'Charlotte the S...",144000000
209,100000000,"[{'id': 37, 'name': 'Western'}, {'id': 12, 'na...",en,8.140709,"[{'name': 'Casey Silver Productions', 'id': 87...",136.0,"[{'cast_id': 11, 'character': 'Frank Hopkins',...",108103450
230,110000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,7.825072,"[{'name': 'Studio Babelsberg', 'id': 264}, {'n...",120.0,"[{'cast_id': 12, 'character': 'Passepartout / ...",72178895
248,102000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",en,9.646208,"[{'name': 'Village Roadshow Pictures', 'id': 7...",99.0,"[{'cast_id': 1, 'character': 'Gabriel Shear', ...",147080413
251,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,7.284477,"[{'name': 'Le Studio Canal+', 'id': 183}, {'na...",119.0,"[{'cast_id': 1, 'character': 'Morgan Adams', '...",10017322
294,160000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,26.628178,"[{'name': 'Studio Babelsberg', 'id': 264}, {'n...",137.0,"[{'cast_id': 2, 'character': 'Katniss Everdeen...",653428261
305,100000000,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",en,14.922399,"[{'name': 'Miramax Films', 'id': 14}, {'name':...",167.0,"[{'cast_id': 2, 'character': 'Amsterdam Vallon...",193772504
306,100000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",en,12.362230,"[{'name': 'Village Roadshow Pictures', 'id': 7...",101.0,"[{'cast_id': 4, 'character': 'Max', 'credit_id...",100086793
307,108000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",en,19.943930,"[{'name': 'Appian Way', 'id': 562}, {'name': '...",129.0,"[{'cast_id': 0, 'character': 'Joe Coughlin', '...",22678555
314,175000000,"[{'id': 10751, 'name': 'Family'}, {'id': 35, '...",en,19.148182,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",109.0,"[{'cast_id': 1, 'character': 'Lightning McQuee...",350170057
317,115000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",en,15.232738,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",109.0,"[{'cast_id': 3, 'character': 'Max', 'credit_id...",286140700
321,85000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,14.170183,"[{'name': 'Relativity Media', 'id': 7295}, {'n...",106.0,"[{'cast_id': 5, 'character': 'Evil Queen', 'cr...",183018522
322,135000000,"[{'id': 37, 'name': 'Western'}, {'id': 18, 'na...",en,23.501228,"[{'name': 'Regency Enterprises', 'id': 508}, {...",156.0,"[{'cast_id': 1, 'character': 'Hugh Glass', 'cr...",532950503
323,90000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",en,9.112008,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",100.0,"[{'cast_id': 15, 'character': 'Porter', 'credi...",161626121
329,100000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,15.088318,"[{'name': 'Kennedy Miller Productions', 'id': ...",108.0,"[{'cast_id': 33, 'character': 'Mumble (voice)'...",384335608
350,110000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",en,13.198400,"[{'name': 'Di Bonaventura Pictures', 'id': 435...",107.0,"[{'cast_id': 0, 'character': 'Mike Williams', ...",121790373
...,...,...,...,...,...,...,...,...
2518,90000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 28, 'nam...",en,13.116461,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...",113.0,NaN,201596308
2532,250000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,23.253089,"[{'name': 'WingNut Films', 'id': 11}, {'name':...",169.0,"[{'cast_id': 6, 'character': 'Gandalf', 'credi...",1021103568
2547,150000000,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",en,11.379355,"[{'name': 'Village Roadshow Pictures', 'id': 7...",101.0,"[{'cast_id': 19, 'character': 'Robert Neville'...",585349010
2562,200000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",en,14.477677,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",97.0,"[{'cast_id': 2, 'character': 'Dory (voice)', '...",1028570889
2570,165000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",en,14.275360,"[{'name': 'Golden Mean', 'id': 1867}, {'name':...",100.0,"[{'cast_id': 26, 'character': 'Hero Boy / Fath...",305875730
2599,90000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",en,12.978751,"[{'name': 'Jerry Bruckheimer Films', 'id': 130...",132.0,"[{'cast_id': 16, 'character': 'Robert Clayton ...",250649836
2623,197471676,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",en,15.262706,"[{'name': 'EuropaCorp', 'id': 6896}]",137.0,NaN,90024292
2631,102000000,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",en,13.494246,"[{'name': 'Anarchos Productions', 'id': 450}, ...",172.0,"[{'cast_id': 1, 'character': 'Dr. Henry Goose ...",130482868
2644,105000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",en,14.412644,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",129.0,"[{'cast_id': 21, 'character': 'Johnny Rico', '...",121214377
2647,145000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",en,14.258430,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",133.0,"[{'cast_id': 5, 'character': 'Ethan Hunt', 'cr...",694713380
2689,85000000,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",en,11.218378,"[{'name': 'PolyGram Filmed Entertainment', 'id...",113.0,"[{'cast_id': 13, 'character': 'Chris Nielsen',...",71485043
2706,100000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",en,5.502098,"[{'name': 'Silver Pictures', 'id': 1885}, {'na...",116.0,"[{'cast_id': 11, 'character': 'Fred Claus', 'c...",97838349
2719,100000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",en,11.510210,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",125.0,"[{'cast_id': 1, 'character': 'Judah Ben-Hur', ...",94061311
2729,125000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,13.392824,[{'name': 'Twentieth Century Fox Film Corporat...,97.0,"[{'cast_id': 1, 'character': 'Boss Baby (voice...",498814908
2737,245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,24.926577,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...",148.0,"[{'cast_id': 1, 'character': 'James Bond', 'cr...",880674609
2738,120000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",en,10.901602,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",95.0,"[{'cast_id': 1, 'character': 'Milo James Thatc...",186053725
2739,92000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,22.220214,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",115.0,"[{'cast_id': 1, 'character': 'Bob Parr / Mr. I...",631442092
2740,90000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",en,13.809622,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...",132.0,"[{'cast_id': 4, 'character': 'Sam Chisolm', 'c...",162360636
2770,280000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,37.379420,"[{'name': 'Marvel Studios', 'id': 420}, {'name...",141.0,"[{'cast_id': 76, 'character': 'Tony Stark / Ir...",1405403694
2792,115000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",en,7.455875,"[{'name': 'Lion Rock Productions', 'id': 2812}...",134.0,"[{'cast_id': 14, 'character': 'Sergeant Joe En...",77628265
2802,100000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,29.741452,"[{'name': '1492 Pictures', 'id': 436}, {'name'...",161.0,"[{'cast_id': 23, 'character': 'Harry Potter', ...",876688482
2839,95000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,11.348096,"[{'name': 'Amblin Entertainment', 'id': 56}, {...",136.0,"[{'cast_id': 3, 'character': 'Alejandro Murrie...",250288523
2858,120000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",en,18.907948,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",117.0,"[{'cast_id': 13, 'character': 'Lightning McQue...",461983149
2866,130000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,12.854373,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",124.0,"[{'cast_id': 1, 'character': 'Benjamin Frankli...",457363168
2880,150000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",en,9.920223,"[{'name': 'Columbia Pictures', 'id': 5}, {'nam...",131.0,"[{'cast_id': 9, 'character': 'Cale', 'credit_i...",205366737
2899,127500000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",en,9.998415,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",82.0,"[{'cast_id': 1, 'character': 'Aladar (voice)',...",354248063
2915,87000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",en,2.488750,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",131.0,"[{'cast_id': 1, 'character': 'Hannibal Lecter'...",351692268
2927,140000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",en,12.996474,"[{'name': 'Eon Productions', 'id': 7576}]",133.0,"[{'cast_id': 20, 'character': 'James Bond', 'c...",431971116
2935,90000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",en,10.815520,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",93.0,"[{'cast_id': 19, 'character': 'Joanna Eberhart...",102000000
2938,130000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",en,16.624854,[{'name': 'Twentieth Century Fox Film Corporat...,124.0,"[{'cast_id': 5, 'character': 'Dr. Elizabeth Sh...",403170142

In [232]:
#movies_reduce[movies_reduce['budget'] > (movies_reduce['budget'].median() + (movies_reduce['budget'].std()*2))].budget
def replace_budget(x):
    if x > (movies_reduce['budget'].median() + (movies_reduce['budget'].std()*2)):
        return movies_reduce['budget'].median()
    else:
        return x

In [233]:
#movies_reduce['budget']=movies_reduce['budget'].apply(replace_budget)

In [234]:
movies_reduce.describe()

             budget   popularity      runtime       revenue
count  3.000000e+03  3000.000000  2998.000000  3.000000e+03
mean   2.253133e+07     8.463274   107.856571  6.672585e+07
std    3.702609e+07    12.104000    22.086434  1.375323e+08
min    0.000000e+00     0.000001     0.000000  1.000000e+00
25%    0.000000e+00     4.018053    94.000000  2.379808e+06
50%    8.000000e+06     7.374861   104.000000  1.680707e+07
75%    2.900000e+07    10.890983   118.000000  6.891920e+07
max    3.800000e+08   294.337037   338.000000  1.519558e+09

### Movies with budget = 0, replacing it with median

In [235]:
def replace_budget1(x):
    if x == 0:
        return movies_reduce['budget'].median()
    else:
        return x

In [236]:
movies_reduce[movies_reduce['budget'] ==0 ]

,budget,genres,original_language,popularity,production_companies,runtime,cast,revenue
4,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",ko,1.148070,NaN,118.0,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...",3923970
7,0,"[{'id': 99, 'name': 'Documentary'}]",en,1.949044,NaN,84.0,"[{'cast_id': 2, 'character': 'Himself', 'credi...",2586511
8,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",en,6.902423,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",100.0,"[{'cast_id': 1, 'character': 'Long John Silver...",34327391
11,0,"[{'id': 35, 'name': 'Comedy'}]",en,10.543750,[{'name': 'Twentieth Century Fox Film Corporat...,98.0,"[{'cast_id': 2, 'character': 'Lewis Skolnick',...",22642033
17,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",en,4.183558,"[{'name': 'BBC Films', 'id': 288}, {'name': 'H...",111.0,"[{'cast_id': 7, 'character': 'Charles Dickens'...",1234254
22,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 27, 'n...",en,7.820787,"[{'name': 'The Collective', 'id': 15156}, {'na...",116.0,"[{'cast_id': 1, 'character': 'Gary', 'credit_i...",100345
23,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",en,1.323333,"[{'name': '\xa0Braeburn Entertainment', 'id': ...",92.0,"[{'cast_id': 1037, 'character': 'Det. Canto', ...",17011
24,0,"[{'id': 27, 'name': 'Horror'}, {'id': 35, 'nam...",en,7.434577,"[{'name': 'New Zealand Film Commission', 'id':...",87.0,"[{'cast_id': 9, 'character': 'Henry Oldfield',...",4947717
25,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",en,1.252367,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",95.0,"[{'cast_id': 2, 'character': 'Dr. Evan Rendell...",8403433
31,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...",fr,5.695860,"[{'name': 'Les Films du Losange', 'id': 223}, ...",117.0,"[{'cast_id': 2, 'character': 'Georges Laurent'...",36000000
33,0,"[{'id': 27, 'name': 'Horror'}]",en,8.254856,"[{'name': 'Magnet Releasing', 'id': 3595}, {'n...",125.0,"[{'cast_id': 60, 'character': 'Assassin (Segme...",7171
36,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",en,2.100499,"[{'name': 'Bórd Scannán na hÉireann', 'id': 18...",105.0,"[{'cast_id': 1, 'character': 'Lucy Owens', 'cr...",151559
38,0,"[{'id': 53, 'name': 'Thriller'}]",en,0.329260,NaN,90.0,"[{'cast_id': 1, 'character': 'Colin Nelson', '...",92100
40,0,"[{'id': 28, 'name': 'Action'}, {'id': 99, 'nam...",en,2.941626,"[{'name': 'Rakontur', 'id': 6303}]",118.0,"[{'cast_id': 2, 'character': 'Himself', 'credi...",163000
48,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",en,8.984386,"[{'name': 'Ad Hominem Enterprises', 'id': 2361}]",94.0,"[{'cast_id': 5, 'character': 'Wilson', 'credit...",653951
52,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",en,1.012665,"[{'name': 'Walt Disney Productions', 'id': 3166}]",97.0,"[{'cast_id': 6, 'character': 'Noah Dugan', 'cr...",11000000
53,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",en,5.410839,"[{'name': 'TriStar Pictures', 'id': 559}]",98.0,"[{'cast_id': 4, 'character': 'Darcy Elliot Bob...",17514553
55,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,9.122718,"[{'name': 'Hollywood Pictures', 'id': 915}]",95.0,"[{'cast_id': 1, 'character': 'Crawl', 'credit_...",36448200
56,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",fr,2.947980,"[{'name': 'Mon Voisin Productions', 'id': 22983}]",97.0,"[{'cast_id': 1, 'character': 'H√©l√®ne', 'cred...",1056938
58,0,"[{'id': 10402, 'name': 'Music'}, {'id': 10749,...",en,1.882446,"[{'name': 'Speak Productions', 'id': 3599}]",95.0,"[{'cast_id': 1, 'character': 'Timothy', 'credi...",119563
62,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 14, 'n...",en,6.381612,"[{'name': 'Atlas Entertainment', 'id': 507}, {...",124.0,"[{'cast_id': 1, 'character': 'John Hobbes', 'c...",25232289
67,0,"[{'id': 18, 'name': 'Drama'}]",zh,6.303552,"[{'name': 'Office Kitano', 'id': 567}, {'name'...",133.0,"[{'cast_id': 11, 'character': 'Dahai', 'credit...",154120
71,0,"[{'id': 18, 'name': 'Drama'}]",es,7.667491,"[{'name': 'Senator Film Produktion', 'id': 191...",126.0,"[{'cast_id': 2, 'character': 'Ernesto Guevara ...",16756372
73,0,"[{'id': 80, 'name': 'Crime'}, {'id': 99, 'name...",cs,0.919556,NaN,90.0,"[{'cast_id': 3, 'character': 'himself', 'credi...",17393
78,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",en,2.633399,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",122.0,"[{'cast_id': 3, 'character': 'Tom Sharky', 'cr...",35610100
89,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",en,4.359884,"[{'name': 'Canal Plus', 'id': 104}, {'name': '...",109.0,"[{'cast_id': 11, 'character': 'Laurel Sommersb...",140081992
91,0,"[{'id': 18, 'name': 'Drama'}]",it,3.831960,"[{'name': 'R%26C Produzioni', 'id': 4235}, {'n...",106.0,"[{'cast_id': 19, 'character': 'Antonia', 'cred...",215339
93,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",en,14.322814,"[{'name': 'Blast! Films', 'id': 2600}]",96.0,"[{'cast_id': 6, 'character': 'Bobby Sands', 'c...",2724474
95,0,"[{'id': 18, 'name': 'Drama'}]",ru,0.181963,"[{'name': 'Yellow, Black & White', 'id': 42877}]",72.0,"[{'cast_id': 4, 'character': 'Artyom', 'credit...",14353
97,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",ru,1.042112,"[{'name': 'Ren Film', 'id': 19802}]",158.0,"[{'cast_id': 1001, 'character': 'Victor', 'cre...",73000
...,...,...,...,...,...,...,...,...
2892,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",en,3.095584,"[{'name': 'The Criterion Collection', 'id': 10...",104.0,"[{'cast_id': 1, 'character': 'George', 'credit...",5794184
2894,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,1.523446,"[{'name': 'Granada Film Productions', 'id': 24...",110.0,"[{'cast_id': 1, 'character': 'Jack', 'credit_i...",218626
2896,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,5.847845,"[{'name': 'Element Pictures', 'id': 3353}, {'n...",95.0,"[{'cast_id': 4, 'character': 'Frank', 'credit_...",645186
2902,0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",en,10.714779,"[{'name': 'The Collective', 'id': 15156}, {'na...",95.0,"[{'cast_id': 8, 'character': 'Herman', 'credit...",21833
2907,0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",en,6.892829,"[{'name': 'Cannon Group', 'id': 1444}, {'name'...",87.0,"[{'cast_id': 1, 'character': ""Lieutenant Mario...",49042224
2913,0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",en,4.766826,"[{'name': 'Portobello Pictures', 'id': 486}, {...",94.0,"[{'cast_id': 1, 'character': 'Pfc. Charlie Sha...",2270658
2917,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,16.179384,"[{'name': 'Touchstone Pictures', 'id': 9195}, ...",123.0,"[{'cast_id': 2, 'character': ""Cecilia 'CC' Car...",57041866
2918,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",en,4.235440,"[{'name': 'Columbia Pictures Corporation', 'id...",109.0,"[{'cast_id': 1, 'character': 'J.C. Cullen', 'c...",1700000
2920,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",en,0.042036,"[{'name': 'Focus Films', 'id': 1268}, {'name':...",92.0,"[{'cast_id': 2, 'character': 'Daisy', 'credit_...",4275
2921,0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",en,0.803093,NaN,75.0,"[{'cast_id': 24, 'character': 'Grumpy Bear', '...",2608000
2922,0,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",en,4.755759,"[{'name': 'Fox Searchlight Pictures', 'id': 43...",95.0,"[{'cast_id': 1, 'character': 'Wayne Hayes', 'c...",12520799
2924,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",fa,5.673744,"[{'name': 'Memento Films Production', 'id': 51...",125.0,"[{'cast_id': 2, 'character': 'Emad Etesami', '...",2402067
2926,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",en,5.325766,"[{'name': 'Rogue Pictures', 'id': 134}, {'name...",90.0,"[{'cast_id': 13, 'character': 'Randy Daytona',...",41098065
2928,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",en,5.397405,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",124.0,"[{'cast_id': 15, 'character': 'Ann Talbot', 'c...",6263883
2936,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",it,0.387440,NaN,100.0,"[{'cast_id': 7, 'character': 'Vittorio', 'cred...",9392
2940,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",en,3.937139,"[{'name': 'Rastar Pictures', 'id': 2070}, {'na...",111.0,"[{'cast_id': 1, 'character': 'Elliot Garfield'...",102000000
2947,0,"[{'id': 18, 'name': 'Drama'}]",en,0.185169,NaN,111.0,"[{'cast_id': 1, 'character': ""Danny 'Joshua' S...",263635
2956,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,3.150899,"[{'name': 'Cannon Group', 'id': 1444}, {'name'...",104.0,"[{'cast_id': 1, 'character': 'Max Donigan', 'c...",11949484
2963,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",ja,1.718237,NaN,129.0,"[{'cast_id': 1, 'character': 'Tahara Mika', 'c...",44038000
2972,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",cn,4.154861,[{'name': 'China Film Co-Production Corporatio...,94.0,"[{'cast_id': 1, 'character': 'Dragon Wong', 'c...",8685526
2973,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",en,3.868014,"[{'name': 'Touchstone Pictures', 'id': 9195}, ...",94.0,"[{'cast_id': 1, 'character': ""Michael 'Mike' H...",4122748
2978,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",en,16.529300,"[{'name': 'Channel Four Films', 'id': 181}, {'...",119.0,"[{'cast_id': 2, 'character': 'Curt Wild', 'cre...",1053788
2981,0,"[{'id': 18, 'name': 'Drama'}]",en,3.069108,"[{'name': 'Park Pictures', 'id': 13466}, {'nam...",97.0,"[{'cast_id': 0, 'character': 'David', 'credit_...",93000
2987,0,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",en,1.292125,"[{'name': 'Concorde Pictures', 'id': 4527}]",90.0,"[{'cast_id': 4, 'character': 'Hal', 'credit_id...",858591
2988,0,"[{'id': 18, 'name': 'Drama'}]",fa,0.984515,"[{'name': 'Abbas Kiarostami Productions', 'id'...",94.0,"[{'cast_id': 2, 'character': 'Driver', 'credit...",105656
2989,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",en,0.851599,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",75.0,"[{'cast_id': 1, 'character': 'Father', 'credit...",100202
2990,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",en,1.560980,"[{'name': 'New Line Cinema', 'id': 12}, {'name...",90.0,"[{'cast_id': 3, 'character': 'Nisi', 'credit_i...",7240837
2994,0,"[{'id': 18, 'name': 'Drama'}]",en,7.438381,"[{'name': 'Paramount Pictures', 'id': 4}]",106.0,"[{'cast_id': 2, 'character': 'David Greene', '...",14715067
2995,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",en,9.853270,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",102.0,"[{'cast_id': 2, 'character': 'Rock Reilly', 'c...",1596687
2996,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",sv,3.727996,"[{'name': 'Memfis Film', 'id': 321}, {'name': ...",102.0,"[{'cast_id': 5, 'character': 'Bobo', 'credit_i...",180590

In [237]:
movies_reduce['budget']=movies_reduce['budget'].apply(replace_budget1)
    
#movies_reduce.replace([movies_reduce['budget'] ==0')

In [238]:
movies_reduce[movies_reduce['budget'] ==0 ]

Empty DataFrame
Columns: [budget, genres, original_language, popularity, production_companies, runtime, cast, revenue]
Index: []

# Movies with popularity 2 standard deviations away from mean, replace it with median

In [239]:
movies_reduce.describe()

             budget   popularity      runtime       revenue
count  3.000000e+03  3000.000000  2998.000000  3.000000e+03
mean   2.469667e+07     8.463274   107.856571  6.672585e+07
std    3.586030e+07    12.104000    22.086434  1.375323e+08
min    1.000000e+00     0.000001     0.000000  1.000000e+00
25%    8.000000e+06     4.018053    94.000000  2.379808e+06
50%    8.000000e+06     7.374861   104.000000  1.680707e+07
75%    2.900000e+07    10.890983   118.000000  6.891920e+07
max    3.800000e+08   294.337037   338.000000  1.519558e+09

In [240]:
movies_reduce['popularity'].median()

7.3748615

In [241]:
movies_reduce['popularity'].std()

12.104000034585484

In [242]:
movies_reduce[movies_reduce['popularity'] > (movies_reduce['popularity'].median() + (movies_reduce['popularity'].std()*2))]

,budget,genres,original_language,popularity,production_companies,runtime,cast,revenue
2,3300000.0,"[{'id': 18, 'name': 'Drama'}]",en,64.299990,"[{'name': 'Bold Films', 'id': 2266}, {'name': ...",105.0,"[{'cast_id': 5, 'character': 'Andrew Neimann',...",13092000
114,93000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,32.070725,"[{'name': 'WingNut Films', 'id': 11}, {'name':...",178.0,"[{'cast_id': 28, 'character': 'Frodo Baggins',...",871368364
518,149000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,294.337037,"[{'name': 'Dune Entertainment', 'id': 444}, {'...",141.0,NaN,820580447
684,160000000.0,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",en,287.253654,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",129.0,"[{'cast_id': 174, 'character': 'Belle', 'credi...",1262886337
934,40000000.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",en,49.247505,"[{'name': 'Thunder Road Pictures', 'id': 3528}...",122.0,NaN,171539887
1093,6000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",en,41.109264,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",175.0,"[{'cast_id': 5, 'character': 'Don Vito Corleon...",245066411
1126,220000000.0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",en,89.887648,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",143.0,"[{'cast_id': 46, 'character': 'Tony Stark / Ir...",1519557910
1140,20000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",it,39.394970,"[{'name': 'Miramax Films', 'id': 14}, {'name':...",116.0,"[{'cast_id': 7, 'character': 'Dora', 'credit_i...",229400000
1309,61000000.0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",en,154.801009,[{'name': 'Twentieth Century Fox Film Corporat...,145.0,"[{'cast_id': 7, 'character': 'Nick Dunne', 'cr...",369330363
1354,8000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",en,37.484577,"[{'name': 'Pandemonium', 'id': 8915}, {'name':...",99.0,"[{'cast_id': 18, 'character': 'Dylan Branson',...",422
1490,8000000.0,"[{'id': 10752, 'name': 'War'}]",es,33.536359,"[{'name': 'Tornasol Films', 'id': 7680}, {'nam...",93.0,"[{'cast_id': 0, 'character': 'Varela', 'credit...",5000000
1630,260000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",en,39.186819,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",149.0,"[{'cast_id': 2, 'character': 'Cade Yeager', 'c...",604942143
1643,61000000.0,"[{'id': 28, 'name': 'Action'}]",en,41.225769,"[{'name': 'Gotham Group', 'id': 3672}, {'name'...",132.0,"[{'cast_id': 0, 'character': 'Thomas', 'credit...",311256926
1673,185000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",en,123.167259,"[{'name': 'DC Comics', 'id': 429}, {'name': 'L...",152.0,"[{'cast_id': 35, 'character': 'Bruce Wayne / B...",1004558444
1695,34000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",en,228.032744,"[{'name': 'Big Talk Productions', 'id': 443}, ...",113.0,"[{'cast_id': 9, 'character': 'Baby', 'credit_i...",224511319
1715,152000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 878, 'nam...",en,146.161786,"[{'name': 'Chernin Entertainment', 'id': 7076}]",140.0,"[{'cast_id': 6, 'character': 'Caesar', 'credit...",369907963
1783,97000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",en,54.581997,[{'name': 'Twentieth Century Fox Film Corporat...,137.0,NaN,616801808
1866,125000000.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",en,33.704935,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",110.0,"[{'cast_id': 7, 'character': 'Nick Morton', 'c...",407778013
2016,25000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",en,51.645403,"[{'name': 'Castle Rock Entertainment', 'id': 9...",142.0,"[{'cast_id': 3, 'character': 'Andy Dufresne', ...",28341469
2018,170000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",en,53.291601,"[{'name': 'Marvel Studios', 'id': 420}, {'name...",121.0,"[{'cast_id': 1, 'character': 'Peter Quill / St...",773328629
2097,140000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,47.326665,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",143.0,"[{'cast_id': 12, 'character': 'Captain Jack Sp...",655011224
2126,200000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,185.330992,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",137.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...",863416141
2293,18000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",en,88.439243,"[{'name': 'Likely Story', 'id': 1785}, {'name'...",110.0,"[{'cast_id': 14, 'character': 'Mae Holland', '...",20497844
2326,58000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,187.860492,[{'name': 'Twentieth Century Fox Film Corporat...,108.0,"[{'cast_id': 99, 'character': 'Wade Wilson / D...",783112979
2338,63000000.0,"[{'id': 18, 'name': 'Drama'}]",en,63.869599,[{'name': 'Twentieth Century Fox Film Corporat...,139.0,"[{'cast_id': 4, 'character': 'The Narrator', '...",100853753
2443,68000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,34.047399,"[{'name': 'Summit Entertainment', 'id': 491}, ...",124.0,"[{'cast_id': 23, 'character': ""Isabella 'Bella...",698491347
2624,5000000.0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",en,36.894806,"[{'name': 'Blumhouse Productions', 'id': 3172}...",104.0,"[{'cast_id': 3, 'character': 'Chris Washington...",252434250
2770,280000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",en,37.379420,"[{'name': 'Marvel Studios', 'id': 420}, {'name...",141.0,"[{'cast_id': 76, 'character': 'Tony Stark / Ir...",1405403694
2793,68000000.0,"[{'id': 35, 'name': 'Comedy'}]",en,42.061481,"[{'name': 'Universal Pictures', 'id': 33}, {'n...",115.0,"[{'cast_id': 2, 'character': 'John', 'credit_i...",217022588
2838,10500000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 37, 'name...",en,36.260510,"[{'name': 'American Zoetrope', 'id': 70}, {'na...",93.0,"[{'cast_id': 8, 'character': 'Corporal John Mc...",25442939

In [243]:
def replace_popularity(x):
    if x > (movies_reduce['popularity'].median() + (movies_reduce['popularity'].std()*2)):
        return movies_reduce['popularity'].median()
    else:
        return x

In [244]:
#movies_reduce['popularity']=movies_reduce['popularity'].apply(replace_popularity)

In [245]:
movies_reduce.describe()

             budget   popularity      runtime       revenue
count  3.000000e+03  3000.000000  2998.000000  3.000000e+03
mean   2.469667e+07     8.463274   107.856571  6.672585e+07
std    3.586030e+07    12.104000    22.086434  1.375323e+08
min    1.000000e+00     0.000001     0.000000  1.000000e+00
25%    8.000000e+06     4.018053    94.000000  2.379808e+06
50%    8.000000e+06     7.374861   104.000000  1.680707e+07
75%    2.900000e+07    10.890983   118.000000  6.891920e+07
max    3.800000e+08   294.337037   338.000000  1.519558e+09

In [246]:
movies_reduce[movies_reduce['popularity'] == 0]

Empty DataFrame
Columns: [budget, genres, original_language, popularity, production_companies, runtime, cast, revenue]
Index: []

# Replace records where runtime =0 with median

In [247]:
movies_reduce[movies_reduce['runtime'] == 0]

,budget,genres,original_language,popularity,production_companies,runtime,cast,revenue
390,6843500.0,"[{'id': 35, 'name': 'Comedy'}]",it,3.800073,"[{'name': 'Colorado Film Production', 'id': 10...",0.0,"[{'cast_id': 2, 'character': 'Alberto', 'credi...",10703234
591,8000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",ru,0.402368,"[{'name': 'Роскинопрокат', 'id': 14650}, {'nam...",0.0,"[{'cast_id': 8, 'character': '', 'credit_id': ...",234748
924,8000000.0,"[{'id': 35, 'name': 'Comedy'}]",es,1.926826,"[{'name': 'Televisión Española (TVE)', 'id': 6...",0.0,"[{'cast_id': 3, 'character': 'David', 'credit_...",850259
977,11000000.0,"[{'id': 35, 'name': 'Comedy'}]",it,5.010563,"[{'name': 'Colorado Film Production', 'id': 10...",0.0,"[{'cast_id': 4, 'character': 'Paolo', 'credit_...",12935800
1255,8000000.0,"[{'id': 37, 'name': 'Western'}]",it,1.623440,[{'name': 'Compagnia Cinematografica Champion'...,0.0,"[{'cast_id': 14, 'character': 'Onion Stark', '...",39598448
1541,750000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",ru,0.201582,"[{'name': 'Кинокомпания «Lunapark»', 'id': 420...",0.0,"[{'cast_id': 3, 'character': 'Viktor', 'credit...",3
1874,8000000.0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",en,0.229233,NaN,0.0,"[{'cast_id': 2, 'character': 'Murat Hoxha', 'c...",1
2150,5000000.0,"[{'id': 28, 'name': 'Action'}, {'id': 10749, '...",ru,0.414793,"[{'name': 'Kinokompaniya CTB', 'id': 886}]",0.0,"[{'cast_id': 2, 'character': 'Sasha', 'credit_...",3919731
2498,3500000.0,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",ru,0.884241,NaN,0.0,"[{'cast_id': 10, 'character': 'Vampire', 'cred...",2294357
2645,8000000.0,"[{'id': 10749, 'name': 'Romance'}]",en,0.504000,"[{'name': 'Enlight Pictures', 'id': 4053}]",0.0,"[{'cast_id': 0, 'character': 'Zhou Xiao Zhi', ...",76000000
2785,8000000.0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 27, 'na...",fr,0.625099,"[{'name': 'Romulus Films', 'id': 3632}, {'name...",0.0,"[{'cast_id': 1, 'character': 'Jake Martel', 'c...",10000000
2865,5579750.0,"[{'id': 35, 'name': 'Comedy'}]",it,2.208906,"[{'name': 'Fandango', 'id': 2441}, {'name': 'R...",0.0,"[{'cast_id': 1, 'character': 'Cetto La Qualunq...",8927600

In [248]:
def replace_runtime(x):
    if x == 0:
        return movies_reduce['runtime'].median()
    else:
        return x

In [249]:
movies_reduce['runtime']=movies_reduce['runtime'].apply(replace_runtime)

In [250]:
movies_reduce.describe()

             budget   popularity      runtime       revenue
count  3.000000e+03  3000.000000  2998.000000  3.000000e+03
mean   2.469667e+07     8.463274   108.272849  6.672585e+07
std    3.586030e+07    12.104000    21.002811  1.375323e+08
min    1.000000e+00     0.000001    11.000000  1.000000e+00
25%    8.000000e+06     4.018053    94.000000  2.379808e+06
50%    8.000000e+06     7.374861   104.000000  1.680707e+07
75%    2.900000e+07    10.890983   118.000000  6.891920e+07
max    3.800000e+08   294.337037   338.000000  1.519558e+09

In [251]:
def replace_runtime1(x):
    if x > (movies_reduce['runtime'].median() + (movies_reduce['runtime'].std()*2)):
        return movies_reduce['runtime'].median()
    else:
        return x

In [252]:
#movies_reduce['runtime']=movies_reduce['runtime'].apply(replace_runtime1)

In [253]:
movies_reduce.describe(include = 'all')

,budget,genres,original_language,popularity,production_companies,runtime,cast,revenue
count,3.000000e+03,2993,3000,3000.000000,2844,2998.000000,2987,3.000000e+03
unique,NaN,872,36,NaN,2383,NaN,2975,NaN
top,NaN,"[{'id': 18, 'name': 'Drama'}]",en,NaN,"[{'name': 'Paramount Pictures', 'id': 4}]",NaN,[],NaN
freq,NaN,266,2575,NaN,51,NaN,13,NaN
mean,2.469667e+07,NaN,NaN,8.463274,NaN,108.272849,NaN,6.672585e+07
std,3.586030e+07,NaN,NaN,12.104000,NaN,21.002811,NaN,1.375323e+08
min,1.000000e+00,NaN,NaN,0.000001,NaN,11.000000,NaN,1.000000e+00
25%,8.000000e+06,NaN,NaN,4.018053,NaN,94.000000,NaN,2.379808e+06
50%,8.000000e+06,NaN,NaN,7.374861,NaN,104.000000,NaN,1.680707e+07
75%,2.900000e+07,NaN,NaN,10.890983,NaN,118.000000,NaN,6.891920e+07
max,3.800000e+08,NaN,NaN,294.337037,NaN,338.000000,NaN,1.519558e+09

# Merge the seperate dataframes into one

In [254]:
movies_fin=movies_reduce.drop(columns=['genres','cast','production_companies'])

In [255]:
movies_fin=movies_fin.join(df_genre)

In [256]:
movies_fin=movies_fin.join(df_genre2)

In [257]:
movies_fin=movies_fin.join(df_cast)

In [258]:
movies_fin=movies_fin.join(df_cast2)

In [259]:
movies_fin=movies_fin.join(df_prodco)

In [260]:
movies_fin.head()

,budget,original_language,popularity,runtime,revenue,genre1,genre2,cast1,cast2,prodco
0,14000000.0,en,6.575393,93.0,12314651,35,0,52997,64342,4
1,40000000.0,en,8.248895,113.0,95149435,35,18,1813,5823,2
2,3300000.0,en,64.299990,105.0,13092000,18,0,996701,18999,2266
3,1200000.0,hi,3.174936,122.0,16000000,53,18,35068,85047,0
4,8000000.0,ko,1.148070,118.0,3923970,28,53,84751,64453,0

In [261]:
l1=LabelEncoder()
movies_fin['original_language']=l1.fit_transform(movies_fin['original_language'])

In [262]:
movies_fin['original_language'].head()

0     7
1     7
2     7
3    13
4    18
Name: original_language, dtype: int32

In [263]:
movies_fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 10 columns):
budget               3000 non-null float64
original_language    3000 non-null int32
popularity           3000 non-null float64
runtime              2998 non-null float64
revenue              3000 non-null int64
genre1               3000 non-null object
genre2               3000 non-null object
cast1                3000 non-null object
cast2                3000 non-null object
prodco               3000 non-null object
dtypes: float64(3), int32(1), int64(1), object(5)
memory usage: 222.7+ KB

In [264]:
movies_fin.head()

,budget,original_language,popularity,runtime,revenue,genre1,genre2,cast1,cast2,prodco
0,14000000.0,7,6.575393,93.0,12314651,35,0,52997,64342,4
1,40000000.0,7,8.248895,113.0,95149435,35,18,1813,5823,2
2,3300000.0,7,64.299990,105.0,13092000,18,0,996701,18999,2266
3,1200000.0,13,3.174936,122.0,16000000,53,18,35068,85047,0
4,8000000.0,18,1.148070,118.0,3923970,28,53,84751,64453,0

In [265]:
movies_fin=movies_fin.fillna(0)

In [266]:
y_train=movies_fin.pop('revenue')
X_train=movies_fin

In [267]:
X_train.head()

,budget,original_language,popularity,runtime,genre1,genre2,cast1,cast2,prodco
0,14000000.0,7,6.575393,93.0,35,0,52997,64342,4
1,40000000.0,7,8.248895,113.0,35,18,1813,5823,2
2,3300000.0,7,64.299990,105.0,18,0,996701,18999,2266
3,1200000.0,13,3.174936,122.0,53,18,35068,85047,0
4,8000000.0,18,1.148070,118.0,28,53,84751,64453,0

In [268]:
from sklearn.preprocessing import StandardScaler

std=StandardScaler()
X_train_std=std.fit_transform(X_train)

In [269]:
from sklearn.model_selection import train_test_split
X_train_fin, X_val, y_train_fin, y_val = train_test_split(X_train_std, y_train, test_size=0.3)

In [270]:
X_train_fin.shape

(2100, 9)

In [271]:
X_val.shape

(900, 9)

In [272]:
y_train_fin.shape

(2100,)

In [273]:
y_val.shape

(900,)

# Testing Linear Regression

In [274]:
from sklearn.linear_model import LinearRegression

In [275]:
lin = LinearRegression(n_jobs=10, normalize = True)
lin.fit(X_train_fin, y_train_fin)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=10, normalize=True)

In [276]:
y_pred=lin.predict(X_val)

In [277]:
y_pred.shape

(900,)

In [278]:
X_val.shape

(900, 9)

In [279]:
lin.coef_

array([92073670.35821801,  1658043.64341369, 31796148.82926799,
        4584519.18218617,  1289153.00678535,   802782.9315974 ,
       -2478601.39811385,   370107.50862959,   574281.38866204])

In [280]:
lin.intercept_

66192780.99160047

In [281]:
lin.score(X_train_fin, y_train_fin)

0.6164642629503545

In [282]:
lin.score(X_val, y_val)

0.6204869063380398

In [283]:
X_test=pd.read_csv('test.csv')

In [284]:
X_test.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,...,"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",7/14/07,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de..."
1,3002,NaN,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/19/58,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de..."
2,3003,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/23/97,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de..."
3,3004,NaN,6800000,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",http://www.sonyclassics.com/incendies/,tt1255953,fr,Incendies,A mother's last wishes send twins Jeanne and S...,8.596012,...,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",9/4/10,130.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,The search began at the opening of their mothe...,Incendies,"[{'id': 378, 'name': 'prison'}, {'id': 539, 'n...","[{'cast_id': 6, 'character': 'Nawal', 'credit_...","[{'credit_id': '56478092c3a36826140043af', 'de..."
4,3005,NaN,2000000,"[{'id': 36, 'name': 'History'}, {'id': 99, 'na...",NaN,tt0418753,en,Inside Deep Throat,"In 1972, a seemingly typical shoestring budget...",3.217680,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/11/05,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was filmed in 6 days for 25 thousand dollar...,Inside Deep Throat,"[{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...","[{'cast_id': 1, 'character': 'Narrator (voice)...","[{'credit_id': '52fe44ce9251416c75041967', 'de..."

In [285]:
X_test_reduce = X_test.drop(columns=['id','belongs_to_collection','homepage','imdb_id','original_title','overview','poster_path','production_countries','release_date','spoken_languages','status','tagline','title','Keywords','crew'])

In [286]:
X_test_reduce.head()

,budget,genres,original_language,popularity,production_companies,runtime,cast
0,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",ja,3.851534,NaN,90.0,"[{'cast_id': 3, 'character': 'Tonio', 'credit_..."
1,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",en,3.559789,"[{'name': 'Woolner Brothers Pictures Inc.', 'i...",65.0,"[{'cast_id': 2, 'character': 'Nancy Fowler Arc..."
2,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",en,8.085194,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",100.0,"[{'cast_id': 11, 'character': 'Maggie', 'credi..."
3,6800000,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",fr,8.596012,"[{'name': 'TS Productions', 'id': 313}, {'name...",130.0,"[{'cast_id': 6, 'character': 'Nawal', 'credit_..."
4,2000000,"[{'id': 36, 'name': 'History'}, {'id': 99, 'na...",en,3.217680,NaN,92.0,"[{'cast_id': 1, 'character': 'Narrator (voice)..."

In [287]:
import json
lst_genre3 = []
lst_genre4 = []

for row in X_test_reduce['genres']:
    if str(row).strip('[]') !='nan':
        d=eval(str(row).strip('[]'))
        if str(type(d)) == "<class 'dict'>":
            lst_genre3.append(str(d['id']))
            lst_genre4.append(str(0)) 
            #print(d['id'])
        else:
            idlist1=''
            idlist2=''
            for i in range(2):
                if (i == 0 and str(d[i]['id'])):
                    lst_genre3.append(str(d[i]['id']))
                else:
                    if (i == 1 and str(d[i]['id'])):
                        idlist2 = str(d[i]['id']) 
                        lst_genre4.append(str(d[i]['id']))  
                    else:
                        if i == 1:
                            lst_genre4.append(str(0)) 
                            
    else:
        lst_genre3.append(str(0)) 
        lst_genre4.append(str(0)) 
        
df_genre3 = pd.DataFrame(lst_genre) 
df_genre4 = pd.DataFrame(lst_genre2) 
df_genre3.columns=['genre1']
df_genre4.columns=['genre2']

In [288]:
df_genre4.head()

  genre2
0      0
1     18
2      0
3     18
4     53

In [289]:
lst_cast3 = []
lst_cast4 = []

for row in X_test_reduce['cast']:
    #print(type(row))
    #if (row != '' and row != 'nan'):
    if (str(type(row)) == "<class 'str'>"):
        #print(row)
        #lst_cast.append(str(row).strip('[]'))
        #print(eval(row))
        d=eval(row)
        #print(str(type(d)))
        if len(d) == 0: #str(type(d)) == "<class 'int'>":
            #lst_cast.append(str(d['id']))
             lst_cast3.append(str(0)) 
             lst_cast4.append(str(0)) 
        if len(d) == 1: #str(type(d)) == "<class 'int'>":
             lst_cast3.append(str(d[0]['id'])) 
             lst_cast4.append(str(0)) 

        else:
            if len(d) > 1:
            #print(str(row).strip('[]'))
            #print(len(d))
                for i in range(2):
                #print(d[i]['id'])    
                    if  (i == 0 and str(d[i]['id'])):
                        lst_cast3.append(str(d[i]['id']))
                else:
                    if (i == 1 and str(d[i]['id'])):
                        lst_cast4.append(str(d[i]['id']))
                    else:
                        if i == 1:
                            lst_cast4.append(str(0))
    else:
        lst_cast3.append(str(0)) 
        lst_cast4.append(str(0)) 
        
df_cast3 = pd.DataFrame(lst_cast3) 
df_cast3.columns=['cast1']  
df_cast4 = pd.DataFrame(lst_cast4) 
df_cast4.columns=['cast2']

In [290]:
df_cast4.head()

    cast2
0  111768
1  108299
2    4756
3   84573
4   71766

In [291]:
lst_prodco2 = []
for row in X_test_reduce['production_companies']:
    if str(row).strip('[]') !='nan':
        d=eval(str(row).strip('[]'))
        if str(type(d)) == "<class 'dict'>":
            lst_prodco2.append(str(d['id']))
           # print(d['id'])
        else:
            idlist=''
            #print(str(len(d)))
            for i in range(1):
                idlist = idlist + ',' + str(d[i]['id'])
                #print(idlist)
            lst_prodco2.append(str(idlist[1:]))
    else:
        lst_prodco2.append(str(0)) 
        
df_prodco2 = pd.DataFrame(lst_prodco2) 
df_prodco2.columns=['prodco']

In [292]:
df_prodco2.head()

  prodco
0      0
1   9233
2   6194
3    313
4      0

In [293]:
X_test_fin=X_test_reduce.drop(columns=['genres','cast','production_companies'])

In [294]:
X_test_fin=X_test_fin.join(df_genre3)
X_test_fin=X_test_fin.join(df_genre4)
X_test_fin=X_test_fin.join(df_cast3)
X_test_fin=X_test_fin.join(df_cast4)
X_test_fin=X_test_fin.join(df_prodco2)
X_test_fin.head()

,budget,original_language,popularity,runtime,genre1,genre2,cast1,cast2,prodco
0,0,ja,3.851534,90.0,35,0,82140,111768,0
1,88000,en,3.559789,65.0,35,18,104412,108299,9233
2,0,en,8.085194,100.0,18,0,5344,4756,6194
3,6800000,fr,8.596012,130.0,53,18,77498,84573,313
4,2000000,en,3.217680,92.0,28,53,2778,71766,0

In [295]:
X_test_fin['original_language']=l1.fit_transform(X_test_fin['original_language'])

In [296]:
X_test_fin.head()

,budget,original_language,popularity,runtime,genre1,genre2,cast1,cast2,prodco
0,0,19,3.851534,90.0,35,0,82140,111768,0
1,88000,9,3.559789,65.0,35,18,104412,108299,9233
2,0,9,8.085194,100.0,18,0,5344,4756,6194
3,6800000,12,8.596012,130.0,53,18,77498,84573,313
4,2000000,9,3.217680,92.0,28,53,2778,71766,0

In [297]:
X_test_fin=X_test_fin.fillna(0)

In [298]:
y_test_pred=lin.predict(X_test_fin)

In [304]:
df_test=pd.DataFrame(X_test['id'])

In [310]:
df_test=df_test.join(pd.DataFrame(y_test_pred))

In [312]:
df_test.columns=['id','revenue']

In [313]:
df_test.head()

     id       revenue
0  3001 -1.615483e+11
1  3002  7.889624e+12
2  3003 -7.108466e+09
3  3004  6.259414e+14
4  3005  1.841677e+14

In [315]:
df_test.to_csv('sub1.csv', index=False)

# Testing Lasso

In [83]:
from sklearn.linear_model import Lasso

In [84]:
las = Lasso()

In [739]:
las.fit(X_train_fin, y_train_fin)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [740]:
las.score(X_train_fin, y_train_fin)

0.6154597497925298

In [741]:
las.score(X_val, y_val)

0.621767727005436

# Testing Ridge

In [742]:
from sklearn.linear_model import Ridge

In [743]:
rid = Ridge()

In [744]:
rid.fit(X_train_fin, y_train_fin)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [745]:
rid.score(X_train_fin, y_train_fin)

0.6154596430979922

In [746]:
rid.score(X_val, y_val)

0.6217522103796509

# Building a neural network

In [37]:
from keras.layers import Dense, Dropout
from keras.models import Sequential
from keras.optimizers import SGD, Adam

Using TensorFlow backend.

In [735]:
model=Sequential()
model.add(Dense(50, input_dim=4, activation='relu'))
model.add(Dense(40, activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(30, activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(20, activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(10, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(5, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(3, activation='relu'))

model.add(Dense(output_dim=1, activation='linear'))

opt = Adam(lr=0.005, decay=0.01)

model.compile(loss='mean_absolute_error', optimizer=opt, metrics=['mean_absolute_error'])
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_44 (Dense)             (None, 50)                250
_________________________________________________________________
dense_45 (Dense)             (None, 40)                2040
_________________________________________________________________
dropout_15 (Dropout)         (None, 40)                0
_________________________________________________________________
dense_46 (Dense)             (None, 30)                1230
_________________________________________________________________
dropout_16 (Dropout)         (None, 30)                0
_________________________________________________________________
dense_47 (Dense)             (None, 20)                620
_________________________________________________________________
dropout_17 (Dropout)         (None, 20)                0
_________________________________________________________________
dense_48 (Dense)             (None, 10)                210
_________________________________________________________________
dropout_18 (Dropout)         (None, 10)                0
_________________________________________________________________
dense_49 (Dense)             (None, 5)                 55
_________________________________________________________________
dropout_19 (Dropout)         (None, 5)                 0
_________________________________________________________________
dense_50 (Dense)             (None, 3)                 18
_________________________________________________________________
dense_51 (Dense)             (None, 1)                 4
=================================================================
Total params: 4,427
Trainable params: 4,427
Non-trainable params: 0
_________________________________________________________________

C:\Users\Lenovo-pc\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="linear", units=1)`
  from ipykernel import kernelapp as app

In [736]:
from keras.callbacks import ModelCheckpoint

checkpoint_name = 'Weights-{epoch:03d}--{val_loss:.5f}.hdf5' 
checkpoint = ModelCheckpoint(checkpoint_name, monitor='val_loss', verbose = 1, save_best_only = True, mode ='auto')
callbacks_list = [checkpoint]
model.fit(X_train_fin, y_train_fin, epochs=100, batch_size=32, validation_split = 0.2, callbacks=callbacks_list)

Train on 1678 samples, validate on 420 samples
Epoch 1/300
1678/1678 [==============================] - 1s 741us/step - loss: 67041068.3480 - mean_absolute_error: 67041068.3480 - val_loss: 65278995.6952 - val_mean_absolute_error: 65278995.6952

Epoch 00001: val_loss improved from inf to 65278995.69524, saving model to Weights-001--65278995.69524.hdf5
Epoch 2/300
1678/1678 [==============================] - 0s 101us/step - loss: 67023868.0048 - mean_absolute_error: 67023868.0048 - val_loss: 65190386.3619 - val_mean_absolute_error: 65190386.3619

Epoch 00002: val_loss improved from 65278995.69524 to 65190386.36190, saving model to Weights-002--65190386.36190.hdf5
Epoch 3/300
1678/1678 [==============================] - 0s 109us/step - loss: 66427564.0715 - mean_absolute_error: 66427564.0715 - val_loss: 63532726.3619 - val_mean_absolute_error: 63532726.3619

Epoch 00003: val_loss improved from 65190386.36190 to 63532726.36190, saving model to Weights-003--63532726.36190.hdf5
Epoch 4/300
1678/1678 [==============================] - 0s 98us/step - loss: 63136305.9785 - mean_absolute_error: 63136305.9785 - val_loss: 58146814.8190 - val_mean_absolute_error: 58146814.8190

Epoch 00004: val_loss improved from 63532726.36190 to 58146814.81905, saving model to Weights-004--58146814.81905.hdf5
Epoch 5/300
1678/1678 [==============================] - 0s 107us/step - loss: 57729734.7032 - mean_absolute_error: 57729734.7032 - val_loss: 53306778.1714 - val_mean_absolute_error: 53306778.1714

Epoch 00005: val_loss improved from 58146814.81905 to 53306778.17143, saving model to Weights-005--53306778.17143.hdf5
Epoch 6/300
1678/1678 [==============================] - 0s 98us/step - loss: 52733591.2277 - mean_absolute_error: 52733591.2277 - val_loss: 49747537.8286 - val_mean_absolute_error: 49747537.8286

Epoch 00006: val_loss improved from 53306778.17143 to 49747537.82857, saving model to Weights-006--49747537.82857.hdf5
Epoch 7/300
1678/1678 [==============================] - 0s 92us/step - loss: 47833842.0501 - mean_absolute_error: 47833842.0501 - val_loss: 47635677.1810 - val_mean_absolute_error: 47635677.1810

Epoch 00007: val_loss improved from 49747537.82857 to 47635677.18095, saving model to Weights-007--47635677.18095.hdf5
Epoch 8/300
1678/1678 [==============================] - 0s 113us/step - loss: 46495684.7676 - mean_absolute_error: 46495684.7676 - val_loss: 46222261.6571 - val_mean_absolute_error: 46222261.6571

Epoch 00008: val_loss improved from 47635677.18095 to 46222261.65714, saving model to Weights-008--46222261.65714.hdf5
Epoch 9/300
1678/1678 [==============================] - 0s 94us/step - loss: 46260097.7282 - mean_absolute_error: 46260097.7282 - val_loss: 45484056.8571 - val_mean_absolute_error: 45484056.8571

Epoch 00009: val_loss improved from 46222261.65714 to 45484056.85714, saving model to Weights-009--45484056.85714.hdf5
Epoch 10/300
1678/1678 [==============================] - 0s 116us/step - loss: 44790471.1347 - mean_absolute_error: 44790471.1347 - val_loss: 45042538.8190 - val_mean_absolute_error: 45042538.8190

Epoch 00010: val_loss improved from 45484056.85714 to 45042538.81905, saving model to Weights-010--45042538.81905.hdf5
Epoch 11/300
1678/1678 [==============================] - 0s 93us/step - loss: 44916651.6603 - mean_absolute_error: 44916651.6603 - val_loss: 44727472.5143 - val_mean_absolute_error: 44727472.5143

Epoch 00011: val_loss improved from 45042538.81905 to 44727472.51429, saving model to Weights-011--44727472.51429.hdf5
Epoch 12/300
1678/1678 [==============================] - 0s 109us/step - loss: 43513639.7449 - mean_absolute_error: 43513639.7449 - val_loss: 44457841.1429 - val_mean_absolute_error: 44457841.1429

Epoch 00012: val_loss improved from 44727472.51429 to 44457841.14286, saving model to Weights-012--44457841.14286.hdf5
Epoch 13/300
1678/1678 [==============================] - 0s 94us/step - loss: 44019163.7759 - mean_absolute_error: 44019163.7759 - val_loss: 44247250.5524 - val_mean_absolute_error: 44247250.5524

Epoch 00013: val_loss improved from 44457841.14286 to 44247250.55238, saving model to Weights-013--44247250.55238.hdf5
Epoch 14/300
1678/1678 [==============================] - 0s 104us/step - loss: 43900328.8391 - mean_absolute_error: 43900328.8391 - val_loss: 44057920.4381 - val_mean_absolute_error: 44057920.4381

Epoch 00014: val_loss improved from 44247250.55238 to 44057920.43810, saving model to Weights-014--44057920.43810.hdf5
Epoch 15/300
1678/1678 [==============================] - 0s 94us/step - loss: 44375403.6567 - mean_absolute_error: 44375403.6567 - val_loss: 43943116.4571 - val_mean_absolute_error: 43943116.4571

Epoch 00015: val_loss improved from 44057920.43810 to 43943116.45714, saving model to Weights-015--43943116.45714.hdf5
Epoch 16/300
1678/1678 [==============================] - 0s 112us/step - loss: 43558256.5483 - mean_absolute_error: 43558256.5483 - val_loss: 43865847.9238 - val_mean_absolute_error: 43865847.9238

Epoch 00016: val_loss improved from 43943116.45714 to 43865847.92381, saving model to Weights-016--43865847.92381.hdf5
Epoch 17/300
1678/1678 [==============================] - 0s 94us/step - loss: 43702040.0191 - mean_absolute_error: 43702040.0191 - val_loss: 43839479.0667 - val_mean_absolute_error: 43839479.0667

Epoch 00017: val_loss improved from 43865847.92381 to 43839479.06667, saving model to Weights-017--43839479.06667.hdf5
Epoch 18/300
1678/1678 [==============================] - 0s 112us/step - loss: 44567110.3790 - mean_absolute_error: 44567110.3790 - val_loss: 43826911.8286 - val_mean_absolute_error: 43826911.8286

Epoch 00018: val_loss improved from 43839479.06667 to 43826911.82857, saving model to Weights-018--43826911.82857.hdf5
Epoch 19/300
1678/1678 [==============================] - 0s 94us/step - loss: 43108747.0989 - mean_absolute_error: 43108747.0989 - val_loss: 43757846.1524 - val_mean_absolute_error: 43757846.1524

Epoch 00019: val_loss improved from 43826911.82857 to 43757846.15238, saving model to Weights-019--43757846.15238.hdf5
Epoch 20/300
1678/1678 [==============================] - 0s 113us/step - loss: 43365385.8760 - mean_absolute_error: 43365385.8760 - val_loss: 43746348.8571 - val_mean_absolute_error: 43746348.8571

Epoch 00020: val_loss improved from 43757846.15238 to 43746348.85714, saving model to Weights-020--43746348.85714.hdf5
Epoch 21/300
1678/1678 [==============================] - 0s 94us/step - loss: 43242514.3147 - mean_absolute_error: 43242514.3147 - val_loss: 43706811.0857 - val_mean_absolute_error: 43706811.0857

Epoch 00021: val_loss improved from 43746348.85714 to 43706811.08571, saving model to Weights-021--43706811.08571.hdf5
Epoch 22/300
1678/1678 [==============================] - 0s 103us/step - loss: 44240108.1192 - mean_absolute_error: 44240108.1192 - val_loss: 43697953.7143 - val_mean_absolute_error: 43697953.7143

Epoch 00022: val_loss improved from 43706811.08571 to 43697953.71429, saving model to Weights-022--43697953.71429.hdf5
Epoch 23/300
1678/1678 [==============================] - 0s 94us/step - loss: 42517008.4577 - mean_absolute_error: 42517008.4577 - val_loss: 43637166.3238 - val_mean_absolute_error: 43637166.3238

Epoch 00023: val_loss improved from 43697953.71429 to 43637166.32381, saving model to Weights-023--43637166.32381.hdf5
Epoch 24/300
1678/1678 [==============================] - 0s 106us/step - loss: 43789852.5769 - mean_absolute_error: 43789852.5769 - val_loss: 43643807.6762 - val_mean_absolute_error: 43643807.6762

Epoch 00024: val_loss did not improve from 43637166.32381
Epoch 25/300
1678/1678 [==============================] - 0s 112us/step - loss: 42548095.4493 - mean_absolute_error: 42548095.4493 - val_loss: 43661173.7714 - val_mean_absolute_error: 43661173.7714

Epoch 00025: val_loss did not improve from 43637166.32381
Epoch 26/300
1678/1678 [==============================] - 0s 100us/step - loss: 42699209.1180 - mean_absolute_error: 42699209.1180 - val_loss: 43613420.8952 - val_mean_absolute_error: 43613420.8952

Epoch 00026: val_loss improved from 43637166.32381 to 43613420.89524, saving model to Weights-026--43613420.89524.hdf5
Epoch 27/300
1678/1678 [==============================] - 0s 95us/step - loss: 42120523.4636 - mean_absolute_error: 42120523.4636 - val_loss: 43581645.9429 - val_mean_absolute_error: 43581645.9429

Epoch 00027: val_loss improved from 43613420.89524 to 43581645.94286, saving model to Weights-027--43581645.94286.hdf5
Epoch 28/300
1678/1678 [==============================] - 0s 88us/step - loss: 42765617.4160 - mean_absolute_error: 42765617.4160 - val_loss: 43558602.0190 - val_mean_absolute_error: 43558602.0190

Epoch 00028: val_loss improved from 43581645.94286 to 43558602.01905, saving model to Weights-028--43558602.01905.hdf5
Epoch 29/300
1678/1678 [==============================] - 0s 92us/step - loss: 42066210.5983 - mean_absolute_error: 42066210.5983 - val_loss: 43541084.0000 - val_mean_absolute_error: 43541084.0000

Epoch 00029: val_loss improved from 43558602.01905 to 43541084.00000, saving model to Weights-029--43541084.00000.hdf5
Epoch 30/300
1678/1678 [==============================] - 0s 88us/step - loss: 42560980.5435 - mean_absolute_error: 42560980.5435 - val_loss: 43525825.5238 - val_mean_absolute_error: 43525825.5238

Epoch 00030: val_loss improved from 43541084.00000 to 43525825.52381, saving model to Weights-030--43525825.52381.hdf5
Epoch 31/300
1678/1678 [==============================] - 0s 113us/step - loss: 43693408.9249 - mean_absolute_error: 43693408.9249 - val_loss: 43537965.7333 - val_mean_absolute_error: 43537965.7333

Epoch 00031: val_loss did not improve from 43525825.52381
Epoch 32/300
1678/1678 [==============================] - 0s 93us/step - loss: 42012308.3743 - mean_absolute_error: 42012308.3743 - val_loss: 43526546.4952 - val_mean_absolute_error: 43526546.4952

Epoch 00032: val_loss did not improve from 43525825.52381
Epoch 33/300
1678/1678 [==============================] - 0s 88us/step - loss: 42049386.5840 - mean_absolute_error: 42049386.5840 - val_loss: 43516613.9810 - val_mean_absolute_error: 43516613.9810

Epoch 00033: val_loss improved from 43525825.52381 to 43516613.98095, saving model to Weights-033--43516613.98095.hdf5
Epoch 34/300
1678/1678 [==============================] - 0s 90us/step - loss: 44096981.6782 - mean_absolute_error: 44096981.6782 - val_loss: 43530474.8000 - val_mean_absolute_error: 43530474.8000

Epoch 00034: val_loss did not improve from 43516613.98095
Epoch 35/300
1678/1678 [==============================] - 0s 83us/step - loss: 42398012.4863 - mean_absolute_error: 42398012.4863 - val_loss: 43509099.8286 - val_mean_absolute_error: 43509099.8286

Epoch 00035: val_loss improved from 43516613.98095 to 43509099.82857, saving model to Weights-035--43509099.82857.hdf5
Epoch 36/300
1678/1678 [==============================] - 0s 88us/step - loss: 40369793.6687 - mean_absolute_error: 40369793.6687 - val_loss: 43493858.5333 - val_mean_absolute_error: 43493858.5333

Epoch 00036: val_loss improved from 43509099.82857 to 43493858.53333, saving model to Weights-036--43493858.53333.hdf5
Epoch 37/300
1678/1678 [==============================] - 0s 89us/step - loss: 43219872.8868 - mean_absolute_error: 43219872.8868 - val_loss: 43486062.8762 - val_mean_absolute_error: 43486062.8762

Epoch 00037: val_loss improved from 43493858.53333 to 43486062.87619, saving model to Weights-037--43486062.87619.hdf5
Epoch 38/300
1678/1678 [==============================] - 0s 85us/step - loss: 43052017.5113 - mean_absolute_error: 43052017.5113 - val_loss: 43501594.4952 - val_mean_absolute_error: 43501594.4952

Epoch 00038: val_loss did not improve from 43486062.87619
Epoch 39/300
1678/1678 [==============================] - 0s 95us/step - loss: 41788209.8403 - mean_absolute_error: 41788209.8403 - val_loss: 43488775.2190 - val_mean_absolute_error: 43488775.2190

Epoch 00039: val_loss did not improve from 43486062.87619
Epoch 40/300
1678/1678 [==============================] - 0s 91us/step - loss: 41976906.4839 - mean_absolute_error: 41976906.4839 - val_loss: 43478772.3810 - val_mean_absolute_error: 43478772.3810

Epoch 00040: val_loss improved from 43486062.87619 to 43478772.38095, saving model to Weights-040--43478772.38095.hdf5
Epoch 41/300
1678/1678 [==============================] - 0s 85us/step - loss: 43908575.0513 - mean_absolute_error: 43908575.0513 - val_loss: 43480221.1429 - val_mean_absolute_error: 43480221.1429

Epoch 00041: val_loss did not improve from 43478772.38095
Epoch 42/300
1678/1678 [==============================] - 0s 97us/step - loss: 42111551.9094 - mean_absolute_error: 42111551.9094 - val_loss: 43476276.2095 - val_mean_absolute_error: 43476276.2095

Epoch 00042: val_loss improved from 43478772.38095 to 43476276.20952, saving model to Weights-042--43476276.20952.hdf5
Epoch 43/300
1678/1678 [==============================] - 0s 88us/step - loss: 43041505.3039 - mean_absolute_error: 43041505.3039 - val_loss: 43469665.7333 - val_mean_absolute_error: 43469665.7333

Epoch 00043: val_loss improved from 43476276.20952 to 43469665.73333, saving model to Weights-043--43469665.73333.hdf5
Epoch 44/300
1678/1678 [==============================] - 0s 95us/step - loss: 43030101.2872 - mean_absolute_error: 43030101.2872 - val_loss: 43472411.1619 - val_mean_absolute_error: 43472411.1619

Epoch 00044: val_loss did not improve from 43469665.73333
Epoch 45/300
1678/1678 [==============================] - 0s 85us/step - loss: 41555894.4958 - mean_absolute_error: 41555894.4958 - val_loss: 43470216.2286 - val_mean_absolute_error: 43470216.2286

Epoch 00045: val_loss did not improve from 43469665.73333
Epoch 46/300
1678/1678 [==============================] - 0s 90us/step - loss: 42521624.5483 - mean_absolute_error: 42521624.5483 - val_loss: 43463317.4667 - val_mean_absolute_error: 43463317.4667

Epoch 00046: val_loss improved from 43469665.73333 to 43463317.46667, saving model to Weights-046--43463317.46667.hdf5
Epoch 47/300
1678/1678 [==============================] - 0s 113us/step - loss: 43100430.0143 - mean_absolute_error: 43100430.0143 - val_loss: 43462631.9048 - val_mean_absolute_error: 43462631.9048

Epoch 00047: val_loss improved from 43463317.46667 to 43462631.90476, saving model to Weights-047--43462631.90476.hdf5
Epoch 48/300
1678/1678 [==============================] - 0s 89us/step - loss: 43753013.7926 - mean_absolute_error: 43753013.7926 - val_loss: 43465566.6095 - val_mean_absolute_error: 43465566.6095

Epoch 00048: val_loss did not improve from 43462631.90476
Epoch 49/300
1678/1678 [==============================] - 0s 88us/step - loss: 43541574.9035 - mean_absolute_error: 43541574.9035 - val_loss: 43463397.1619 - val_mean_absolute_error: 43463397.1619

Epoch 00049: val_loss did not improve from 43462631.90476
Epoch 50/300
1678/1678 [==============================] - 0s 91us/step - loss: 43978931.4446 - mean_absolute_error: 43978931.4446 - val_loss: 43457377.7714 - val_mean_absolute_error: 43457377.7714

Epoch 00050: val_loss improved from 43462631.90476 to 43457377.77143, saving model to Weights-050--43457377.77143.hdf5
Epoch 51/300
1678/1678 [==============================] - 0s 92us/step - loss: 42956545.7068 - mean_absolute_error: 42956545.7068 - val_loss: 43457091.5619 - val_mean_absolute_error: 43457091.5619

Epoch 00051: val_loss improved from 43457377.77143 to 43457091.56190, saving model to Weights-051--43457091.56190.hdf5
Epoch 52/300
1678/1678 [==============================] - 0s 94us/step - loss: 44064081.0346 - mean_absolute_error: 44064081.0346 - val_loss: 43463670.7429 - val_mean_absolute_error: 43463670.7429

Epoch 00052: val_loss did not improve from 43457091.56190
Epoch 53/300
1678/1678 [==============================] - 0s 90us/step - loss: 43010037.6019 - mean_absolute_error: 43010037.6019 - val_loss: 43464319.0667 - val_mean_absolute_error: 43464319.0667

Epoch 00053: val_loss did not improve from 43457091.56190
Epoch 54/300
1678/1678 [==============================] - 0s 88us/step - loss: 42595657.6973 - mean_absolute_error: 42595657.6973 - val_loss: 43465465.6762 - val_mean_absolute_error: 43465465.6762

Epoch 00054: val_loss did not improve from 43457091.56190
Epoch 55/300

1678/1678 [==============================] - 0s 89us/step - loss: 43026981.9213 - mean_absolute_error: 43026981.9213 - val_loss: 43466795.2000 - val_mean_absolute_error: 43466795.2000

Epoch 00055: val_loss did not improve from 43457091.56190
Epoch 56/300
1678/1678 [==============================] - 0s 86us/step - loss: 41965526.8200 - mean_absolute_error: 41965526.8200 - val_loss: 43466660.7619 - val_mean_absolute_error: 43466660.7619

Epoch 00056: val_loss did not improve from 43457091.56190
Epoch 57/300
1678/1678 [==============================] - 0s 89us/step - loss: 43176152.1287 - mean_absolute_error: 43176152.1287 - val_loss: 43471087.2762 - val_mean_absolute_error: 43471087.2762

Epoch 00057: val_loss did not improve from 43457091.56190
Epoch 58/300
1678/1678 [==============================] - 0s 85us/step - loss: 43241524.6484 - mean_absolute_error: 43241524.6484 - val_loss: 43468011.1810 - val_mean_absolute_error: 43468011.1810

Epoch 00058: val_loss did not improve from 43457091.56190
Epoch 59/300
1678/1678 [==============================] - 0s 84us/step - loss: 42162121.6830 - mean_absolute_error: 42162121.6830 - val_loss: 43470302.7619 - val_mean_absolute_error: 43470302.7619

Epoch 00059: val_loss did not improve from 43457091.56190
Epoch 60/300
1678/1678 [==============================] - 0s 86us/step - loss: 43430028.6246 - mean_absolute_error: 43430028.6246 - val_loss: 43470336.7048 - val_mean_absolute_error: 43470336.7048

Epoch 00060: val_loss did not improve from 43457091.56190
Epoch 61/300
1678/1678 [==============================] - 0s 89us/step - loss: 42625841.8808 - mean_absolute_error: 42625841.8808 - val_loss: 43472606.0952 - val_mean_absolute_error: 43472606.0952

Epoch 00061: val_loss did not improve from 43457091.56190
Epoch 62/300
1678/1678 [==============================] - 0s 84us/step - loss: 43166642.8367 - mean_absolute_error: 43166642.8367 - val_loss: 43466269.2381 - val_mean_absolute_error: 43466269.2381

Epoch 00062: val_loss did not improve from 43457091.56190
Epoch 63/300
1678/1678 [==============================] - 0s 103us/step - loss: 42139969.1132 - mean_absolute_error: 42139969.1132 - val_loss: 43462028.4381 - val_mean_absolute_error: 43462028.4381

Epoch 00063: val_loss did not improve from 43457091.56190
Epoch 64/300
1678/1678 [==============================] - 0s 109us/step - loss: 42752166.2932 - mean_absolute_error: 42752166.2932 - val_loss: 43460151.9619 - val_mean_absolute_error: 43460151.9619

Epoch 00064: val_loss did not improve from 43457091.56190
Epoch 65/300
1678/1678 [==============================] - 0s 108us/step - loss: 42024160.0501 - mean_absolute_error: 42024160.0501 - val_loss: 43455773.4857 - val_mean_absolute_error: 43455773.4857

Epoch 00065: val_loss improved from 43457091.56190 to 43455773.48571, saving model to Weights-065--43455773.48571.hdf5
Epoch 66/300
1678/1678 [==============================] - 0s 107us/step - loss: 43138591.3707 - mean_absolute_error: 43138591.3707 - val_loss: 43449548.4571 - val_mean_absolute_error: 43449548.4571

Epoch 00066: val_loss improved from 43455773.48571 to 43449548.45714, saving model to Weights-066--43449548.45714.hdf5
Epoch 67/300
1678/1678 [==============================] - 0s 106us/step - loss: 43333033.7807 - mean_absolute_error: 43333033.7807 - val_loss: 43449230.1333 - val_mean_absolute_error: 43449230.1333

Epoch 00067: val_loss improved from 43449548.45714 to 43449230.13333, saving model to Weights-067--43449230.13333.hdf5
Epoch 68/300
1678/1678 [==============================] - 0s 91us/step - loss: 41497888.6770 - mean_absolute_error: 41497888.6770 - val_loss: 43448052.3048 - val_mean_absolute_error: 43448052.3048

Epoch 00068: val_loss improved from 43449230.13333 to 43448052.30476, saving model to Weights-068--43448052.30476.hdf5
Epoch 69/300
1678/1678 [==============================] - 0s 88us/step - loss: 42576468.7414 - mean_absolute_error: 42576468.7414 - val_loss: 43444243.4857 - val_mean_absolute_error: 43444243.4857

Epoch 00069: val_loss improved from 43448052.30476 to 43444243.48571, saving model to Weights-069--43444243.48571.hdf5
Epoch 70/300
1678/1678 [==============================] - 0s 87us/step - loss: 42398049.2872 - mean_absolute_error: 42398049.2872 - val_loss: 43441500.4571 - val_mean_absolute_error: 43441500.4571

Epoch 00070: val_loss improved from 43444243.48571 to 43441500.45714, saving model to Weights-070--43441500.45714.hdf5
Epoch 71/300
1678/1678 [==============================] - 0s 89us/step - loss: 42554092.1836 - mean_absolute_error: 42554092.1836 - val_loss: 43444357.8095 - val_mean_absolute_error: 43444357.8095

Epoch 00071: val_loss did not improve from 43441500.45714
Epoch 72/300
1678/1678 [==============================] - 0s 92us/step - loss: 43437494.3027 - mean_absolute_error: 43437494.3027 - val_loss: 43444988.7238 - val_mean_absolute_error: 43444988.7238

Epoch 00072: val_loss did not improve from 43441500.45714
Epoch 73/300
1678/1678 [==============================] - 0s 92us/step - loss: 43204973.2682 - mean_absolute_error: 43204973.2682 - val_loss: 43444346.1714 - val_mean_absolute_error: 43444346.1714

Epoch 00073: val_loss did not improve from 43441500.45714
Epoch 74/300
1678/1678 [==============================] - 0s 86us/step - loss: 42826271.7306 - mean_absolute_error: 42826271.7306 - val_loss: 43440851.1238 - val_mean_absolute_error: 43440851.1238

Epoch 00074: val_loss improved from 43441500.45714 to 43440851.12381, saving model to Weights-074--43440851.12381.hdf5
Epoch 75/300
1678/1678 [==============================] - 0s 112us/step - loss: 42119622.4410 - mean_absolute_error: 42119622.4410 - val_loss: 43440167.6571 - val_mean_absolute_error: 43440167.6571

Epoch 00075: val_loss improved from 43440851.12381 to 43440167.65714, saving model to Weights-075--43440167.65714.hdf5
Epoch 76/300
1678/1678 [==============================] - 0s 85us/step - loss: 42908110.8081 - mean_absolute_error: 42908110.8081 - val_loss: 43438702.0952 - val_mean_absolute_error: 43438702.0952

Epoch 00076: val_loss improved from 43440167.65714 to 43438702.09524, saving model to Weights-076--43438702.09524.hdf5
Epoch 77/300
1678/1678 [==============================] - 0s 91us/step - loss: 42311740.4768 - mean_absolute_error: 42311740.4768 - val_loss: 43437433.6381 - val_mean_absolute_error: 43437433.6381

Epoch 00077: val_loss improved from 43438702.09524 to 43437433.63810, saving model to Weights-077--43437433.63810.hdf5
Epoch 78/300
1678/1678 [==============================] - 0s 89us/step - loss: 42886783.0179 - mean_absolute_error: 42886783.0179 - val_loss: 43438351.7714 - val_mean_absolute_error: 43438351.7714

Epoch 00078: val_loss did not improve from 43437433.63810
Epoch 79/300
1678/1678 [==============================] - 0s 88us/step - loss: 41250680.3743 - mean_absolute_error: 41250680.3743 - val_loss: 43435575.5810 - val_mean_absolute_error: 43435575.5810

Epoch 00079: val_loss improved from 43437433.63810 to 43435575.58095, saving model to Weights-079--43435575.58095.hdf5
Epoch 80/300
1678/1678 [==============================] - 0s 119us/step - loss: 41926833.7640 - mean_absolute_error: 41926833.7640 - val_loss: 43434659.2762 - val_mean_absolute_error: 43434659.2762

Epoch 00080: val_loss improved from 43435575.58095 to 43434659.27619, saving model to Weights-080--43434659.27619.hdf5
Epoch 81/300
1678/1678 [==============================] - 0s 86us/step - loss: 43362519.9666 - mean_absolute_error: 43362519.9666 - val_loss: 43435896.2476 - val_mean_absolute_error: 43435896.2476

Epoch 00081: val_loss did not improve from 43434659.27619
Epoch 82/300
1678/1678 [==============================] - 0s 90us/step - loss: 42806583.0369 - mean_absolute_error: 42806583.0369 - val_loss: 43437442.0571 - val_mean_absolute_error: 43437442.0571

Epoch 00082: val_loss did not improve from 43434659.27619
Epoch 83/300
1678/1678 [==============================] - 0s 90us/step - loss: 41654303.4756 - mean_absolute_error: 41654303.4756 - val_loss: 43433930.4000 - val_mean_absolute_error: 43433930.4000

Epoch 00083: val_loss improved from 43434659.27619 to 43433930.40000, saving model to Weights-083--43433930.40000.hdf5

Epoch 84/300
1678/1678 [==============================] - 0s 88us/step - loss: 42352429.2300 - mean_absolute_error: 42352429.2300 - val_loss: 43435797.4857 - val_mean_absolute_error: 43435797.4857

Epoch 00084: val_loss did not improve from 43433930.40000
Epoch 85/300
1678/1678 [==============================] - 0s 88us/step - loss: 42346005.3945 - mean_absolute_error: 42346005.3945 - val_loss: 43442241.0667 - val_mean_absolute_error: 43442241.0667

Epoch 00085: val_loss did not improve from 43433930.40000
Epoch 86/300
1678/1678 [==============================] - 0s 91us/step - loss: 42254510.9464 - mean_absolute_error: 42254510.9464 - val_loss: 43439712.5333 - val_mean_absolute_error: 43439712.5333

Epoch 00086: val_loss did not improve from 43433930.40000
Epoch 87/300
1678/1678 [==============================] - 0s 85us/step - loss: 41387943.9142 - mean_absolute_error: 41387943.9142 - val_loss: 43440137.9619 - val_mean_absolute_error: 43440137.9619

Epoch 00087: val_loss did not improve from 43433930.40000
Epoch 88/300
1678/1678 [==============================] - 0s 89us/step - loss: 41033975.5757 - mean_absolute_error: 41033975.5757 - val_loss: 43436441.7524 - val_mean_absolute_error: 43436441.7524

Epoch 00088: val_loss did not improve from 43433930.40000
Epoch 89/300
1678/1678 [==============================] - 0s 87us/step - loss: 42684230.5221 - mean_absolute_error: 42684230.5221 - val_loss: 43443340.6476 - val_mean_absolute_error: 43443340.6476

Epoch 00089: val_loss did not improve from 43433930.40000
Epoch 90/300
1678/1678 [==============================] - 0s 86us/step - loss: 41862079.2825 - mean_absolute_error: 41862079.2825 - val_loss: 43440105.4667 - val_mean_absolute_error: 43440105.4667

Epoch 00090: val_loss did not improve from 43433930.40000
Epoch 91/300
1678/1678 [==============================] - 0s 85us/step - loss: 42541770.5959 - mean_absolute_error: 42541770.5959 - val_loss: 43438487.6571 - val_mean_absolute_error: 43438487.6571

Epoch 00091: val_loss did not improve from 43433930.40000
Epoch 92/300
1678/1678 [==============================] - 0s 88us/step - loss: 41634072.8451 - mean_absolute_error: 41634072.8451 - val_loss: 43432812.5524 - val_mean_absolute_error: 43432812.5524

Epoch 00092: val_loss improved from 43433930.40000 to 43432812.55238, saving model to Weights-092--43432812.55238.hdf5
Epoch 93/300
1678/1678 [==============================] - 0s 85us/step - loss: 40683042.5077 - mean_absolute_error: 40683042.5077 - val_loss: 43431096.9333 - val_mean_absolute_error: 43431096.9333

Epoch 00093: val_loss improved from 43432812.55238 to 43431096.93333, saving model to Weights-093--43431096.93333.hdf5
Epoch 94/300
1678/1678 [==============================] - 0s 88us/step - loss: 43651879.5471 - mean_absolute_error: 43651879.5471 - val_loss: 43429795.1810 - val_mean_absolute_error: 43429795.1810

Epoch 00094: val_loss improved from 43431096.93333 to 43429795.18095, saving model to Weights-094--43429795.18095.hdf5
Epoch 95/300
1678/1678 [==============================] - 0s 106us/step - loss: 43104788.8319 - mean_absolute_error: 43104788.8319 - val_loss: 43430303.1238 - val_mean_absolute_error: 43430303.1238

Epoch 00095: val_loss did not improve from 43429795.18095
Epoch 96/300
1678/1678 [==============================] - 0s 89us/step - loss: 42005373.6400 - mean_absolute_error: 42005373.6400 - val_loss: 43429035.4095 - val_mean_absolute_error: 43429035.4095

Epoch 00096: val_loss improved from 43429795.18095 to 43429035.40952, saving model to Weights-096--43429035.40952.hdf5
Epoch 97/300
1678/1678 [==============================] - 0s 92us/step - loss: 44351881.5685 - mean_absolute_error: 44351881.5685 - val_loss: 43430893.3333 - val_mean_absolute_error: 43430893.3333

Epoch 00097: val_loss did not improve from 43429035.40952
Epoch 98/300
1678/1678 [==============================] - 0s 90us/step - loss: 43219239.5304 - mean_absolute_error: 43219239.5304 - val_loss: 43431226.4571 - val_mean_absolute_error: 43431226.4571

Epoch 00098: val_loss did not improve from 43429035.40952
Epoch 99/300
1678/1678 [==============================] - 0s 88us/step - loss: 42215378.7723 - mean_absolute_error: 42215378.7723 - val_loss: 43430237.7143 - val_mean_absolute_error: 43430237.7143

Epoch 00099: val_loss did not improve from 43429035.40952
Epoch 100/300
1678/1678 [==============================] - 0s 91us/step - loss: 42870612.1478 - mean_absolute_error: 42870612.1478 - val_loss: 43430578.2286 - val_mean_absolute_error: 43430578.2286

Epoch 00100: val_loss did not improve from 43429035.40952
Epoch 101/300
1678/1678 [==============================] - 0s 89us/step - loss: 41629528.4195 - mean_absolute_error: 41629528.4195 - val_loss: 43431008.6667 - val_mean_absolute_error: 43431008.6667

Epoch 00101: val_loss did not improve from 43429035.40952
Epoch 102/300
1678/1678 [==============================] - 0s 89us/step - loss: 41987555.8999 - mean_absolute_error: 41987555.8999 - val_loss: 43430155.7905 - val_mean_absolute_error: 43430155.7905

Epoch 00102: val_loss did not improve from 43429035.40952
Epoch 103/300
1678/1678 [==============================] - 0s 90us/step - loss: 43413881.5066 - mean_absolute_error: 43413881.5066 - val_loss: 43432640.1143 - val_mean_absolute_error: 43432640.1143

Epoch 00103: val_loss did not improve from 43429035.40952
Epoch 104/300
1678/1678 [==============================] - 0s 90us/step - loss: 42330774.2956 - mean_absolute_error: 42330774.2956 - val_loss: 43430532.1905 - val_mean_absolute_error: 43430532.1905

Epoch 00104: val_loss did not improve from 43429035.40952
Epoch 105/300
1678/1678 [==============================] - 0s 88us/step - loss: 42693886.2551 - mean_absolute_error: 42693886.2551 - val_loss: 43427541.3333 - val_mean_absolute_error: 43427541.3333

Epoch 00105: val_loss improved from 43429035.40952 to 43427541.33333, saving model to Weights-105--43427541.33333.hdf5
Epoch 106/300
1678/1678 [==============================] - 0s 108us/step - loss: 41793175.4041 - mean_absolute_error: 41793175.4041 - val_loss: 43428199.7333 - val_mean_absolute_error: 43428199.7333

Epoch 00106: val_loss did not improve from 43427541.33333
Epoch 107/300
1678/1678 [==============================] - 0s 91us/step - loss: 43048838.4005 - mean_absolute_error: 43048838.4005 - val_loss: 43427346.9905 - val_mean_absolute_error: 43427346.9905

Epoch 00107: val_loss improved from 43427541.33333 to 43427346.99048, saving model to Weights-107--43427346.99048.hdf5
Epoch 108/300
1678/1678 [==============================] - 0s 87us/step - loss: 42975821.1871 - mean_absolute_error: 42975821.1871 - val_loss: 43430004.3810 - val_mean_absolute_error: 43430004.3810

Epoch 00108: val_loss did not improve from 43427346.99048
Epoch 109/300
1678/1678 [==============================] - 0s 91us/step - loss: 43435215.9666 - mean_absolute_error: 43435215.9666 - val_loss: 43434419.2381 - val_mean_absolute_error: 43434419.2381

Epoch 00109: val_loss did not improve from 43427346.99048
Epoch 110/300
1678/1678 [==============================] - 0s 90us/step - loss: 42081035.5447 - mean_absolute_error: 42081035.5447 - val_loss: 43432012.2667 - val_mean_absolute_error: 43432012.2667

Epoch 00110: val_loss did not improve from 43427346.99048
Epoch 111/300
1678/1678 [==============================] - 0s 94us/step - loss: 44462937.6496 - mean_absolute_error: 44462937.6496 - val_loss: 43433141.9238 - val_mean_absolute_error: 43433141.9238

Epoch 00111: val_loss did not improve from 43427346.99048
Epoch 112/300
1678/1678 [==============================] - 0s 92us/step - loss: 42559618.4839 - mean_absolute_error: 42559618.4839 - val_loss: 43432041.0095 - val_mean_absolute_error: 43432041.0095

Epoch 00112: val_loss did not improve from 43427346.99048
Epoch 113/300
1678/1678 [==============================] - 0s 91us/step - loss: 43475770.1263 - mean_absolute_error: 43475770.1263 - val_loss: 43434437.8857 - val_mean_absolute_error: 43434437.8857

Epoch 00113: val_loss did not improve from 43427346.99048
Epoch 114/300
1678/1678 [==============================] - 0s 91us/step - loss: 43305340.0846 - mean_absolute_error: 43305340.0846 - val_loss: 43433717.5810 - val_mean_absolute_error: 43433717.5810

Epoch 00114: val_loss did not improve from 43427346.99048
Epoch 115/300
1678/1678 [==============================] - 0s 85us/step - loss: 43145263.0751 - mean_absolute_error: 43145263.0751 - val_loss: 43440562.6667 - val_mean_absolute_error: 43440562.6667

Epoch 00115: val_loss did not improve from 43427346.99048
Epoch 116/300
1678/1678 [==============================] - 0s 86us/step - loss: 42928670.9845 - mean_absolute_error: 42928670.9845 - val_loss: 43442975.1238 - val_mean_absolute_error: 43442975.1238

Epoch 00116: val_loss did not improve from 43427346.99048
Epoch 117/300
1678/1678 [==============================] - 0s 87us/step - loss: 41668222.8605 - mean_absolute_error: 41668222.8605 - val_loss: 43437192.3429 - val_mean_absolute_error: 43437192.3429

Epoch 00117: val_loss did not improve from 43427346.99048
Epoch 118/300
1678/1678 [==============================] - 0s 86us/step - loss: 41840830.3600 - mean_absolute_error: 41840830.3600 - val_loss: 43434713.3524 - val_mean_absolute_error: 43434713.3524

Epoch 00118: val_loss did not improve from 43427346.99048
Epoch 119/300
1678/1678 [==============================] - 0s 86us/step - loss: 42761402.8510 - mean_absolute_error: 42761402.8510 - val_loss: 43436529.2952 - val_mean_absolute_error: 43436529.2952

Epoch 00119: val_loss did not improve from 43427346.99048
Epoch 120/300
1678/1678 [==============================] - 0s 87us/step - loss: 42066723.5876 - mean_absolute_error: 42066723.5876 - val_loss: 43430709.1429 - val_mean_absolute_error: 43430709.1429

Epoch 00120: val_loss did not improve from 43427346.99048
Epoch 121/300
1678/1678 [==============================] - 0s 88us/step - loss: 41611335.0894 - mean_absolute_error: 41611335.0894 - val_loss: 43430842.2667 - val_mean_absolute_error: 43430842.2667

Epoch 00121: val_loss did not improve from 43427346.99048
Epoch 122/300
1678/1678 [==============================] - 0s 88us/step - loss: 41585418.2527 - mean_absolute_error: 41585418.2527 - val_loss: 43429743.4286 - val_mean_absolute_error: 43429743.4286

Epoch 00122: val_loss did not improve from 43427346.99048
Epoch 123/300
1678/1678 [==============================] - 0s 89us/step - loss: 42343254.4601 - mean_absolute_error: 42343254.4601 - val_loss: 43428757.2952 - val_mean_absolute_error: 43428757.2952

Epoch 00123: val_loss did not improve from 43427346.99048
Epoch 124/300
1678/1678 [==============================] - 0s 87us/step - loss: 42565101.1800 - mean_absolute_error: 42565101.1800 - val_loss: 43429754.4000 - val_mean_absolute_error: 43429754.4000

Epoch 00124: val_loss did not improve from 43427346.99048
Epoch 125/300
1678/1678 [==============================] - 0s 88us/step - loss: 43143393.9833 - mean_absolute_error: 43143393.9833 - val_loss: 43432600.3048 - val_mean_absolute_error: 43432600.3048

Epoch 00125: val_loss did not improve from 43427346.99048
Epoch 126/300
1678/1678 [==============================] - 0s 88us/step - loss: 43218860.2718 - mean_absolute_error: 43218860.2718 - val_loss: 43432992.7429 - val_mean_absolute_error: 43432992.7429

Epoch 00126: val_loss did not improve from 43427346.99048
Epoch 127/300
1678/1678 [==============================] - 0s 85us/step - loss: 42756304.6436 - mean_absolute_error: 42756304.6436 - val_loss: 43430790.9905 - val_mean_absolute_error: 43430790.9905

Epoch 00127: val_loss did not improve from 43427346.99048
Epoch 128/300
1678/1678 [==============================] - 0s 89us/step - loss: 42428042.2217 - mean_absolute_error: 42428042.2217 - val_loss: 43430670.1905 - val_mean_absolute_error: 43430670.1905

Epoch 00128: val_loss did not improve from 43427346.99048
Epoch 129/300
1678/1678 [==============================] - 0s 90us/step - loss: 42778662.9130 - mean_absolute_error: 42778662.9130 - val_loss: 43430509.7714 - val_mean_absolute_error: 43430509.7714

Epoch 00129: val_loss did not improve from 43427346.99048
Epoch 130/300
1678/1678 [==============================] - 0s 85us/step - loss: 42216791.7235 - mean_absolute_error: 42216791.7235 - val_loss: 43431881.3143 - val_mean_absolute_error: 43431881.3143

Epoch 00130: val_loss did not improve from 43427346.99048
Epoch 131/300
1678/1678 [==============================] - 0s 91us/step - loss: 41747638.2741 - mean_absolute_error: 41747638.2741 - val_loss: 43432107.9619 - val_mean_absolute_error: 43432107.9619

Epoch 00131: val_loss did not improve from 43427346.99048
Epoch 132/300
1678/1678 [==============================] - 0s 89us/step - loss: 42293181.6114 - mean_absolute_error: 42293181.6114 - val_loss: 43428629.0286 - val_mean_absolute_error: 43428629.0286

Epoch 00132: val_loss did not improve from 43427346.99048
Epoch 133/300
1678/1678 [==============================] - 0s 88us/step - loss: 42435288.0930 - mean_absolute_error: 42435288.0930 - val_loss: 43424705.4857 - val_mean_absolute_error: 43424705.4857

Epoch 00133: val_loss improved from 43427346.99048 to 43424705.48571, saving model to Weights-133--43424705.48571.hdf5
Epoch 134/300
1678/1678 [==============================] - 0s 110us/step - loss: 41675115.5209 - mean_absolute_error: 41675115.5209 - val_loss: 43425984.4952 - val_mean_absolute_error: 43425984.4952

Epoch 00134: val_loss did not improve from 43424705.48571
Epoch 135/300
1678/1678 [==============================] - 0s 93us/step - loss: 42312073.6782 - mean_absolute_error: 42312073.6782 - val_loss: 43427235.1048 - val_mean_absolute_error: 43427235.1048

Epoch 00135: val_loss did not improve from 43424705.48571
Epoch 136/300
1678/1678 [==============================] - 0s 89us/step - loss: 43567348.3194 - mean_absolute_error: 43567348.3194 - val_loss: 43427857.9429 - val_mean_absolute_error: 43427857.9429

Epoch 00136: val_loss did not improve from 43424705.48571
Epoch 137/300
1678/1678 [==============================] - 0s 92us/step - loss: 42831281.3969 - mean_absolute_error: 42831281.3969 - val_loss: 43426208.6667 - val_mean_absolute_error: 43426208.6667

Epoch 00137: val_loss did not improve from 43424705.48571
Epoch 138/300
1678/1678 [==============================] - 0s 91us/step - loss: 42738551.2372 - mean_absolute_error: 42738551.2372 - val_loss: 43424567.1810 - val_mean_absolute_error: 43424567.1810

Epoch 00138: val_loss improved from 43424705.48571 to 43424567.18095, saving model to Weights-138--43424567.18095.hdf5
Epoch 139/300
1678/1678 [==============================] - 0s 116us/step - loss: 43235870.3075 - mean_absolute_error: 43235870.3075 - val_loss: 43423856.6667 - val_mean_absolute_error: 43423856.6667

Epoch 00139: val_loss improved from 43424567.18095 to 43423856.66667, saving model to Weights-139--43423856.66667.hdf5
Epoch 140/300
1678/1678 [==============================] - 0s 92us/step - loss: 42918207.1216 - mean_absolute_error: 42918207.1216 - val_loss: 43423621.2190 - val_mean_absolute_error: 43423621.2190

Epoch 00140: val_loss improved from 43423856.66667 to 43423621.21905, saving model to Weights-140--43423621.21905.hdf5
Epoch 141/300
1678/1678 [==============================] - 0s 95us/step - loss: 40936914.2622 - mean_absolute_error: 40936914.2622 - val_loss: 43421980.7619 - val_mean_absolute_error: 43421980.7619

Epoch 00141: val_loss improved from 43423621.21905 to 43421980.76190, saving model to Weights-141--43421980.76190.hdf5
Epoch 142/300
1678/1678 [==============================] - 0s 91us/step - loss: 42027831.5614 - mean_absolute_error: 42027831.5614 - val_loss: 43424825.7143 - val_mean_absolute_error: 43424825.7143

Epoch 00142: val_loss did not improve from 43421980.76190
Epoch 143/300
1678/1678 [==============================] - 0s 89us/step - loss: 43386882.4815 - mean_absolute_error: 43386882.4815 - val_loss: 43427451.8095 - val_mean_absolute_error: 43427451.8095

Epoch 00143: val_loss did not improve from 43421980.76190
Epoch 144/300
1678/1678 [==============================] - 0s 95us/step - loss: 41803293.5161 - mean_absolute_error: 41803293.5161 - val_loss: 43423792.0381 - val_mean_absolute_error: 43423792.0381

Epoch 00144: val_loss did not improve from 43421980.76190
Epoch 145/300
1678/1678 [==============================] - 0s 89us/step - loss: 44143729.8975 - mean_absolute_error: 44143729.8975 - val_loss: 43423782.1143 - val_mean_absolute_error: 43423782.1143

Epoch 00145: val_loss did not improve from 43421980.76190
Epoch 146/300
1678/1678 [==============================] - 0s 86us/step - loss: 41906387.1323 - mean_absolute_error: 41906387.1323 - val_loss: 43426752.0190 - val_mean_absolute_error: 43426752.0190

Epoch 00146: val_loss did not improve from 43421980.76190
Epoch 147/300
1678/1678 [==============================] - 0s 86us/step - loss: 42891146.8367 - mean_absolute_error: 42891146.8367 - val_loss: 43427767.0286 - val_mean_absolute_error: 43427767.0286

Epoch 00147: val_loss did not improve from 43421980.76190
Epoch 148/300
1678/1678 [==============================] - 0s 88us/step - loss: 42174914.3385 - mean_absolute_error: 42174914.3385 - val_loss: 43427087.7905 - val_mean_absolute_error: 43427087.7905

Epoch 00148: val_loss did not improve from 43421980.76190
Epoch 149/300
1678/1678 [==============================] - 0s 87us/step - loss: 40765830.3695 - mean_absolute_error: 40765830.3695 - val_loss: 43427962.1333 - val_mean_absolute_error: 43427962.1333

Epoch 00149: val_loss did not improve from 43421980.76190
Epoch 150/300
1678/1678 [==============================] - 0s 88us/step - loss: 43602404.0191 - mean_absolute_error: 43602404.0191 - val_loss: 43425504.8762 - val_mean_absolute_error: 43425504.8762

Epoch 00150: val_loss did not improve from 43421980.76190
Epoch 151/300
1678/1678 [==============================] - 0s 87us/step - loss: 41391482.5340 - mean_absolute_error: 41391482.5340 - val_loss: 43425754.0190 - val_mean_absolute_error: 43425754.0190

Epoch 00151: val_loss did not improve from 43421980.76190
Epoch 152/300
1678/1678 [==============================] - 0s 87us/step - loss: 42601229.9595 - mean_absolute_error: 42601229.9595 - val_loss: 43426361.8476 - val_mean_absolute_error: 43426361.8476

Epoch 00152: val_loss did not improve from 43421980.76190
Epoch 153/300
1678/1678 [==============================] - 0s 86us/step - loss: 42624350.2360 - mean_absolute_error: 42624350.2360 - val_loss: 43423866.2476 - val_mean_absolute_error: 43423866.2476

Epoch 00153: val_loss did not improve from 43421980.76190
Epoch 154/300
1678/1678 [==============================] - 0s 87us/step - loss: 43056694.6269 - mean_absolute_error: 43056694.6269 - val_loss: 43424447.9238 - val_mean_absolute_error: 43424447.9238

Epoch 00154: val_loss did not improve from 43421980.76190
Epoch 155/300
1678/1678 [==============================] - 0s 94us/step - loss: 42867542.4505 - mean_absolute_error: 42867542.4505 - val_loss: 43422950.9143 - val_mean_absolute_error: 43422950.9143

Epoch 00155: val_loss did not improve from 43421980.76190
Epoch 156/300
1678/1678 [==============================] - 0s 109us/step - loss: 41997802.6365 - mean_absolute_error: 41997802.6365 - val_loss: 43422666.3619 - val_mean_absolute_error: 43422666.3619

Epoch 00156: val_loss did not improve from 43421980.76190
Epoch 157/300
1678/1678 [==============================] - 0s 112us/step - loss: 41700484.1144 - mean_absolute_error: 41700484.1144 - val_loss: 43423734.5524 - val_mean_absolute_error: 43423734.5524

Epoch 00157: val_loss did not improve from 43421980.76190
Epoch 158/300
1678/1678 [==============================] - 0s 109us/step - loss: 42902043.9428 - mean_absolute_error: 42902043.9428 - val_loss: 43422301.5048 - val_mean_absolute_error: 43422301.5048

Epoch 00158: val_loss did not improve from 43421980.76190
Epoch 159/300
1678/1678 [==============================] - 0s 109us/step - loss: 41667080.7676 - mean_absolute_error: 41667080.7676 - val_loss: 43420277.6952 - val_mean_absolute_error: 43420277.6952

Epoch 00159: val_loss improved from 43421980.76190 to 43420277.69524, saving model to Weights-159--43420277.69524.hdf5
Epoch 160/300
1678/1678 [==============================] - 0s 110us/step - loss: 43835755.9714 - mean_absolute_error: 43835755.9714 - val_loss: 43419450.3619 - val_mean_absolute_error: 43419450.3619

Epoch 00160: val_loss improved from 43420277.69524 to 43419450.36190, saving model to Weights-160--43419450.36190.hdf5
Epoch 161/300
1678/1678 [==============================] - 0s 89us/step - loss: 42367724.1240 - mean_absolute_error: 42367724.1240 - val_loss: 43422928.7810 - val_mean_absolute_error: 43422928.7810

Epoch 00161: val_loss did not improve from 43419450.36190
Epoch 162/300
1678/1678 [==============================] - 0s 85us/step - loss: 42079261.9309 - mean_absolute_error: 42079261.9309 - val_loss: 43422561.8286 - val_mean_absolute_error: 43422561.8286

Epoch 00162: val_loss did not improve from 43419450.36190
Epoch 163/300
1678/1678 [==============================] - 0s 88us/step - loss: 42263180.8892 - mean_absolute_error: 42263180.8892 - val_loss: 43424183.8857 - val_mean_absolute_error: 43424183.8857

Epoch 00163: val_loss did not improve from 43419450.36190
Epoch 164/300
1678/1678 [==============================] - 0s 91us/step - loss: 42318622.5435 - mean_absolute_error: 42318622.5435 - val_loss: 43424114.8190 - val_mean_absolute_error: 43424114.8190

Epoch 00164: val_loss did not improve from 43419450.36190
Epoch 165/300
1678/1678 [==============================] - 0s 96us/step - loss: 42208991.9833 - mean_absolute_error: 42208991.9833 - val_loss: 43429960.4952 - val_mean_absolute_error: 43429960.4952

Epoch 00165: val_loss did not improve from 43419450.36190
Epoch 166/300
1678/1678 [==============================] - 0s 91us/step - loss: 42205452.3004 - mean_absolute_error: 42205452.3004 - val_loss: 43428998.1143 - val_mean_absolute_error: 43428998.1143

Epoch 00166: val_loss did not improve from 43419450.36190
Epoch 167/300
1678/1678 [==============================] - 0s 91us/step - loss: 41639014.0358 - mean_absolute_error: 41639014.0358 - val_loss: 43429521.3143 - val_mean_absolute_error: 43429521.3143

Epoch 00167: val_loss did not improve from 43419450.36190
Epoch 168/300
1678/1678 [==============================] - 0s 91us/step - loss: 42619082.7938 - mean_absolute_error: 42619082.7938 - val_loss: 43426412.9714 - val_mean_absolute_error: 43426412.9714

Epoch 00168: val_loss did not improve from 43419450.36190
Epoch 169/300
1678/1678 [==============================] - 0s 88us/step - loss: 42399957.0083 - mean_absolute_error: 42399957.0083 - val_loss: 43428171.5429 - val_mean_absolute_error: 43428171.5429

Epoch 00169: val_loss did not improve from 43419450.36190
Epoch 170/300
1678/1678 [==============================] - 0s 91us/step - loss: 43737777.6639 - mean_absolute_error: 43737777.6639 - val_loss: 43432241.8476 - val_mean_absolute_error: 43432241.8476

Epoch 00170: val_loss did not improve from 43419450.36190
Epoch 171/300
1678/1678 [==============================] - 0s 89us/step - loss: 42310048.9190 - mean_absolute_error: 42310048.9190 - val_loss: 43430285.6000 - val_mean_absolute_error: 43430285.6000

Epoch 00171: val_loss did not improve from 43419450.36190
Epoch 172/300
1678/1678 [==============================] - 0s 92us/step - loss: 42363801.3516 - mean_absolute_error: 42363801.3516 - val_loss: 43429750.7238 - val_mean_absolute_error: 43429750.7238

Epoch 00172: val_loss did not improve from 43419450.36190
Epoch 173/300
1678/1678 [==============================] - 0s 89us/step - loss: 43210596.0954 - mean_absolute_error: 43210596.0954 - val_loss: 43430355.0857 - val_mean_absolute_error: 43430355.0857

Epoch 00173: val_loss did not improve from 43419450.36190
Epoch 174/300
1678/1678 [==============================] - 0s 88us/step - loss: 42106155.0799 - mean_absolute_error: 42106155.0799 - val_loss: 43430113.5810 - val_mean_absolute_error: 43430113.5810

Epoch 00174: val_loss did not improve from 43419450.36190
Epoch 175/300
1678/1678 [==============================] - 0s 91us/step - loss: 42656797.4839 - mean_absolute_error: 42656797.4839 - val_loss: 43431108.8571 - val_mean_absolute_error: 43431108.8571

Epoch 00175: val_loss did not improve from 43419450.36190
Epoch 176/300

1678/1678 [==============================] - 0s 91us/step - loss: 42244110.3886 - mean_absolute_error: 42244110.3886 - val_loss: 43428863.7714 - val_mean_absolute_error: 43428863.7714

Epoch 00176: val_loss did not improve from 43419450.36190
Epoch 177/300
1678/1678 [==============================] - 0s 84us/step - loss: 42060545.5924 - mean_absolute_error: 42060545.5924 - val_loss: 43427382.7048 - val_mean_absolute_error: 43427382.7048

Epoch 00177: val_loss did not improve from 43419450.36190
Epoch 178/300
1678/1678 [==============================] - 0s 86us/step - loss: 44219956.5483 - mean_absolute_error: 44219956.5483 - val_loss: 43429449.7714 - val_mean_absolute_error: 43429449.7714

Epoch 00178: val_loss did not improve from 43419450.36190
Epoch 179/300
1678/1678 [==============================] - 0s 89us/step - loss: 43361422.8892 - mean_absolute_error: 43361422.8892 - val_loss: 43428156.0000 - val_mean_absolute_error: 43428156.0000

Epoch 00179: val_loss did not improve from 43419450.36190
Epoch 180/300
1678/1678 [==============================] - 0s 84us/step - loss: 44948001.1967 - mean_absolute_error: 44948001.1967 - val_loss: 43426605.4286 - val_mean_absolute_error: 43426605.4286

Epoch 00180: val_loss did not improve from 43419450.36190
Epoch 181/300
1678/1678 [==============================] - 0s 85us/step - loss: 43222793.3397 - mean_absolute_error: 43222793.3397 - val_loss: 43427135.8476 - val_mean_absolute_error: 43427135.8476

Epoch 00181: val_loss did not improve from 43419450.36190
Epoch 182/300
1678/1678 [==============================] - 0s 87us/step - loss: 41207973.6687 - mean_absolute_error: 41207973.6687 - val_loss: 43426569.1048 - val_mean_absolute_error: 43426569.1048

Epoch 00182: val_loss did not improve from 43419450.36190
Epoch 183/300
1678/1678 [==============================] - 0s 89us/step - loss: 43447555.4303 - mean_absolute_error: 43447555.4303 - val_loss: 43424897.7714 - val_mean_absolute_error: 43424897.7714

Epoch 00183: val_loss did not improve from 43419450.36190
Epoch 184/300
1678/1678 [==============================] - 0s 85us/step - loss: 42868883.2467 - mean_absolute_error: 42868883.2467 - val_loss: 43427110.0952 - val_mean_absolute_error: 43427110.0952

Epoch 00184: val_loss did not improve from 43419450.36190
Epoch 185/300
1678/1678 [==============================] - 0s 88us/step - loss: 42761543.2420 - mean_absolute_error: 42761543.2420 - val_loss: 43430591.9048 - val_mean_absolute_error: 43430591.9048

Epoch 00185: val_loss did not improve from 43419450.36190
Epoch 186/300
1678/1678 [==============================] - 0s 85us/step - loss: 40598081.6448 - mean_absolute_error: 40598081.6448 - val_loss: 43430746.4381 - val_mean_absolute_error: 43430746.4381

Epoch 00186: val_loss did not improve from 43419450.36190
Epoch 187/300
1678/1678 [==============================] - 0s 88us/step - loss: 42897906.3218 - mean_absolute_error: 42897906.3218 - val_loss: 43432605.1810 - val_mean_absolute_error: 43432605.1810

Epoch 00187: val_loss did not improve from 43419450.36190
Epoch 188/300
1678/1678 [==============================] - 0s 86us/step - loss: 41525913.0775 - mean_absolute_error: 41525913.0775 - val_loss: 43429700.9333 - val_mean_absolute_error: 43429700.9333

Epoch 00188: val_loss did not improve from 43419450.36190
Epoch 189/300
1678/1678 [==============================] - 0s 88us/step - loss: 41790648.6150 - mean_absolute_error: 41790648.6150 - val_loss: 43424824.4190 - val_mean_absolute_error: 43424824.4190

Epoch 00189: val_loss did not improve from 43419450.36190
Epoch 190/300
1678/1678 [==============================] - 0s 85us/step - loss: 42889787.4374 - mean_absolute_error: 42889787.4374 - val_loss: 43423782.6857 - val_mean_absolute_error: 43423782.6857

Epoch 00190: val_loss did not improve from 43419450.36190
Epoch 191/300
1678/1678 [==============================] - 0s 85us/step - loss: 42756009.8474 - mean_absolute_error: 42756009.8474 - val_loss: 43424093.3905 - val_mean_absolute_error: 43424093.3905

Epoch 00191: val_loss did not improve from 43419450.36190
Epoch 192/300
1678/1678 [==============================] - 0s 90us/step - loss: 40926071.3707 - mean_absolute_error: 40926071.3707 - val_loss: 43421118.5524 - val_mean_absolute_error: 43421118.5524

Epoch 00192: val_loss did not improve from 43419450.36190
Epoch 193/300
1678/1678 [==============================] - 0s 91us/step - loss: 43413586.2455 - mean_absolute_error: 43413586.2455 - val_loss: 43417196.3048 - val_mean_absolute_error: 43417196.3048

Epoch 00193: val_loss improved from 43419450.36190 to 43417196.30476, saving model to Weights-193--43417196.30476.hdf5
Epoch 194/300
1678/1678 [==============================] - 0s 94us/step - loss: 42147357.9142 - mean_absolute_error: 42147357.9142 - val_loss: 43418496.3619 - val_mean_absolute_error: 43418496.3619

Epoch 00194: val_loss did not improve from 43417196.30476
Epoch 195/300
1678/1678 [==============================] - 0s 86us/step - loss: 43138098.6031 - mean_absolute_error: 43138098.6031 - val_loss: 43421067.8095 - val_mean_absolute_error: 43421067.8095

Epoch 00195: val_loss did not improve from 43417196.30476
Epoch 196/300
1678/1678 [==============================] - 0s 91us/step - loss: 43859802.5590 - mean_absolute_error: 43859802.5590 - val_loss: 43424663.9810 - val_mean_absolute_error: 43424663.9810

Epoch 00196: val_loss did not improve from 43417196.30476
Epoch 197/300
1678/1678 [==============================] - 0s 89us/step - loss: 43035044.1669 - mean_absolute_error: 43035044.1669 - val_loss: 43423153.4286 - val_mean_absolute_error: 43423153.4286

Epoch 00197: val_loss did not improve from 43417196.30476
Epoch 198/300
1678/1678 [==============================] - 0s 89us/step - loss: 41617857.5876 - mean_absolute_error: 41617857.5876 - val_loss: 43424029.8476 - val_mean_absolute_error: 43424029.8476

Epoch 00198: val_loss did not improve from 43417196.30476
Epoch 199/300
1678/1678 [==============================] - 0s 91us/step - loss: 43007413.7223 - mean_absolute_error: 43007413.7223 - val_loss: 43422819.1810 - val_mean_absolute_error: 43422819.1810

Epoch 00199: val_loss did not improve from 43417196.30476
Epoch 200/300
1678/1678 [==============================] - 0s 90us/step - loss: 44615221.3826 - mean_absolute_error: 44615221.3826 - val_loss: 43420354.4571 - val_mean_absolute_error: 43420354.4571

Epoch 00200: val_loss did not improve from 43417196.30476
Epoch 201/300
1678/1678 [==============================] - 0s 88us/step - loss: 42990807.5662 - mean_absolute_error: 42990807.5662 - val_loss: 43422745.9810 - val_mean_absolute_error: 43422745.9810

Epoch 00201: val_loss did not improve from 43417196.30476
Epoch 202/300
1678/1678 [==============================] - 0s 86us/step - loss: 42265845.8379 - mean_absolute_error: 42265845.8379 - val_loss: 43421981.1238 - val_mean_absolute_error: 43421981.1238

Epoch 00202: val_loss did not improve from 43417196.30476
Epoch 203/300
1678/1678 [==============================] - 0s 87us/step - loss: 43424635.9190 - mean_absolute_error: 43424635.9190 - val_loss: 43422974.0190 - val_mean_absolute_error: 43422974.0190

Epoch 00203: val_loss did not improve from 43417196.30476
Epoch 204/300
1678/1678 [==============================] - 0s 90us/step - loss: 42556574.5435 - mean_absolute_error: 42556574.5435 - val_loss: 43422180.3429 - val_mean_absolute_error: 43422180.3429

Epoch 00204: val_loss did not improve from 43417196.30476
Epoch 205/300
1678/1678 [==============================] - 0s 91us/step - loss: 42625398.6317 - mean_absolute_error: 42625398.6317 - val_loss: 43422404.6286 - val_mean_absolute_error: 43422404.6286

Epoch 00205: val_loss did not improve from 43417196.30476
Epoch 206/300
1678/1678 [==============================] - 0s 88us/step - loss: 43289076.6865 - mean_absolute_error: 43289076.6865 - val_loss: 43425061.9810 - val_mean_absolute_error: 43425061.9810

Epoch 00206: val_loss did not improve from 43417196.30476
Epoch 207/300
1678/1678 [==============================] - 0s 88us/step - loss: 42672047.4589 - mean_absolute_error: 42672047.4589 - val_loss: 43424919.6381 - val_mean_absolute_error: 43424919.6381

Epoch 00207: val_loss did not improve from 43417196.30476
Epoch 208/300
1678/1678 [==============================] - 0s 89us/step - loss: 41784572.9058 - mean_absolute_error: 41784572.9058 - val_loss: 43421624.1524 - val_mean_absolute_error: 43421624.1524

Epoch 00208: val_loss did not improve from 43417196.30476
Epoch 209/300
1678/1678 [==============================] - 0s 84us/step - loss: 43236278.9511 - mean_absolute_error: 43236278.9511 - val_loss: 43421258.0571 - val_mean_absolute_error: 43421258.0571

Epoch 00209: val_loss did not improve from 43417196.30476
Epoch 210/300
1678/1678 [==============================] - 0s 87us/step - loss: 42493407.7712 - mean_absolute_error: 42493407.7712 - val_loss: 43418498.4571 - val_mean_absolute_error: 43418498.4571

Epoch 00210: val_loss did not improve from 43417196.30476
Epoch 211/300
1678/1678 [==============================] - 0s 85us/step - loss: 41618132.9869 - mean_absolute_error: 41618132.9869 - val_loss: 43416383.8476 - val_mean_absolute_error: 43416383.8476

Epoch 00211: val_loss improved from 43417196.30476 to 43416383.84762, saving model to Weights-211--43416383.84762.hdf5
Epoch 212/300
1678/1678 [==============================] - 0s 89us/step - loss: 42693009.9428 - mean_absolute_error: 42693009.9428 - val_loss: 43416534.3810 - val_mean_absolute_error: 43416534.3810

Epoch 00212: val_loss did not improve from 43416383.84762
Epoch 213/300
1678/1678 [==============================] - 0s 86us/step - loss: 41567028.1764 - mean_absolute_error: 41567028.1764 - val_loss: 43417497.2952 - val_mean_absolute_error: 43417497.2952

Epoch 00213: val_loss did not improve from 43416383.84762
Epoch 214/300
1678/1678 [==============================] - 0s 87us/step - loss: 40820361.8903 - mean_absolute_error: 40820361.8903 - val_loss: 43416030.4762 - val_mean_absolute_error: 43416030.4762

Epoch 00214: val_loss improved from 43416383.84762 to 43416030.47619, saving model to Weights-214--43416030.47619.hdf5
Epoch 215/300
1678/1678 [==============================] - 0s 88us/step - loss: 42890388.3576 - mean_absolute_error: 42890388.3576 - val_loss: 43413578.1524 - val_mean_absolute_error: 43413578.1524

Epoch 00215: val_loss improved from 43416030.47619 to 43413578.15238, saving model to Weights-215--43413578.15238.hdf5
Epoch 216/300
1678/1678 [==============================] - 0s 89us/step - loss: 42822714.6007 - mean_absolute_error: 42822714.6007 - val_loss: 43413822.6857 - val_mean_absolute_error: 43413822.6857

Epoch 00216: val_loss did not improve from 43413578.15238
Epoch 217/300
1678/1678 [==============================] - 0s 92us/step - loss: 43461333.1395 - mean_absolute_error: 43461333.1395 - val_loss: 43414622.8952 - val_mean_absolute_error: 43414622.8952

Epoch 00217: val_loss did not improve from 43413578.15238
Epoch 218/300
1678/1678 [==============================] - 0s 90us/step - loss: 44040090.5936 - mean_absolute_error: 44040090.5936 - val_loss: 43414519.3714 - val_mean_absolute_error: 43414519.3714

Epoch 00218: val_loss did not improve from 43413578.15238
Epoch 219/300
1678/1678 [==============================] - 0s 85us/step - loss: 42110636.8105 - mean_absolute_error: 42110636.8105 - val_loss: 43412036.5905 - val_mean_absolute_error: 43412036.5905

Epoch 00219: val_loss improved from 43413578.15238 to 43412036.59048, saving model to Weights-219--43412036.59048.hdf5
Epoch 220/300
1678/1678 [==============================] - 0s 95us/step - loss: 43056185.4779 - mean_absolute_error: 43056185.4779 - val_loss: 43410420.9714 - val_mean_absolute_error: 43410420.9714

Epoch 00220: val_loss improved from 43412036.59048 to 43410420.97143, saving model to Weights-220--43410420.97143.hdf5
Epoch 221/300
1678/1678 [==============================] - 0s 86us/step - loss: 41184392.8248 - mean_absolute_error: 41184392.8248 - val_loss: 43410122.8762 - val_mean_absolute_error: 43410122.8762

Epoch 00221: val_loss improved from 43410420.97143 to 43410122.87619, saving model to Weights-221--43410122.87619.hdf5
Epoch 222/300
1678/1678 [==============================] - 0s 94us/step - loss: 42014130.8749 - mean_absolute_error: 42014130.8749 - val_loss: 43410639.2381 - val_mean_absolute_error: 43410639.2381

Epoch 00222: val_loss did not improve from 43410122.87619
Epoch 223/300
1678/1678 [==============================] - 0s 91us/step - loss: 44261319.5828 - mean_absolute_error: 44261319.5828 - val_loss: 43409564.0762 - val_mean_absolute_error: 43409564.0762

Epoch 00223: val_loss improved from 43410122.87619 to 43409564.07619, saving model to Weights-223--43409564.07619.hdf5
Epoch 224/300
1678/1678 [==============================] - 0s 110us/step - loss: 42981904.2884 - mean_absolute_error: 42981904.2884 - val_loss: 43409522.9143 - val_mean_absolute_error: 43409522.9143

Epoch 00224: val_loss improved from 43409564.07619 to 43409522.91429, saving model to Weights-224--43409522.91429.hdf5
Epoch 225/300
1678/1678 [==============================] - 0s 86us/step - loss: 42774815.9142 - mean_absolute_error: 42774815.9142 - val_loss: 43407040.5333 - val_mean_absolute_error: 43407040.5333

Epoch 00225: val_loss improved from 43409522.91429 to 43407040.53333, saving model to Weights-225--43407040.53333.hdf5
Epoch 226/300
1678/1678 [==============================] - 0s 88us/step - loss: 43987367.0083 - mean_absolute_error: 43987367.0083 - val_loss: 43406389.9619 - val_mean_absolute_error: 43406389.9619

Epoch 00226: val_loss improved from 43407040.53333 to 43406389.96190, saving model to Weights-226--43406389.96190.hdf5
Epoch 227/300
1678/1678 [==============================] - 0s 91us/step - loss: 42760800.1859 - mean_absolute_error: 42760800.1859 - val_loss: 43406252.2857 - val_mean_absolute_error: 43406252.2857

Epoch 00227: val_loss improved from 43406389.96190 to 43406252.28571, saving model to Weights-227--43406252.28571.hdf5
Epoch 228/300
1678/1678 [==============================] - 0s 88us/step - loss: 41467590.0310 - mean_absolute_error: 41467590.0310 - val_loss: 43407358.7810 - val_mean_absolute_error: 43407358.7810

Epoch 00228: val_loss did not improve from 43406252.28571
Epoch 229/300
1678/1678 [==============================] - 0s 92us/step - loss: 41808279.3039 - mean_absolute_error: 41808279.3039 - val_loss: 43406243.9429 - val_mean_absolute_error: 43406243.9429

Epoch 00229: val_loss improved from 43406252.28571 to 43406243.94286, saving model to Weights-229--43406243.94286.hdf5
Epoch 230/300
1678/1678 [==============================] - 0s 91us/step - loss: 43072228.6150 - mean_absolute_error: 43072228.6150 - val_loss: 43404972.3619 - val_mean_absolute_error: 43404972.3619

Epoch 00230: val_loss improved from 43406243.94286 to 43404972.36190, saving model to Weights-230--43404972.36190.hdf5
Epoch 231/300
1678/1678 [==============================] - 0s 117us/step - loss: 42736449.5280 - mean_absolute_error: 42736449.5280 - val_loss: 43407206.8381 - val_mean_absolute_error: 43407206.8381

Epoch 00231: val_loss did not improve from 43404972.36190
Epoch 232/300
1678/1678 [==============================] - 0s 96us/step - loss: 43856475.0274 - mean_absolute_error: 43856475.0274 - val_loss: 43408591.0286 - val_mean_absolute_error: 43408591.0286

Epoch 00232: val_loss did not improve from 43404972.36190
Epoch 233/300
1678/1678 [==============================] - 0s 88us/step - loss: 42504801.0965 - mean_absolute_error: 42504801.0965 - val_loss: 43408143.9238 - val_mean_absolute_error: 43408143.9238

Epoch 00233: val_loss did not improve from 43404972.36190
Epoch 234/300
1678/1678 [==============================] - 0s 89us/step - loss: 42435343.2086 - mean_absolute_error: 42435343.2086 - val_loss: 43404499.5429 - val_mean_absolute_error: 43404499.5429

Epoch 00234: val_loss improved from 43404972.36190 to 43404499.54286, saving model to Weights-234--43404499.54286.hdf5
Epoch 235/300
1678/1678 [==============================] - 0s 86us/step - loss: 43572234.6126 - mean_absolute_error: 43572234.6126 - val_loss: 43403348.0762 - val_mean_absolute_error: 43403348.0762

Epoch 00235: val_loss improved from 43404499.54286 to 43403348.07619, saving model to Weights-235--43403348.07619.hdf5
Epoch 236/300
1678/1678 [==============================] - 0s 90us/step - loss: 42290774.5900 - mean_absolute_error: 42290774.5900 - val_loss: 43403806.6667 - val_mean_absolute_error: 43403806.6667

Epoch 00236: val_loss did not improve from 43403348.07619
Epoch 237/300
1678/1678 [==============================] - 0s 92us/step - loss: 42244500.7485 - mean_absolute_error: 42244500.7485 - val_loss: 43404203.9810 - val_mean_absolute_error: 43404203.9810

Epoch 00237: val_loss did not improve from 43403348.07619
Epoch 238/300
1678/1678 [==============================] - 0s 85us/step - loss: 42542371.2968 - mean_absolute_error: 42542371.2968 - val_loss: 43402226.3048 - val_mean_absolute_error: 43402226.3048

Epoch 00238: val_loss improved from 43403348.07619 to 43402226.30476, saving model to Weights-238--43402226.30476.hdf5
Epoch 239/300
1678/1678 [==============================] - 0s 87us/step - loss: 43200666.0906 - mean_absolute_error: 43200666.0906 - val_loss: 43402519.7143 - val_mean_absolute_error: 43402519.7143

Epoch 00239: val_loss did not improve from 43402226.30476
Epoch 240/300
1678/1678 [==============================] - 0s 91us/step - loss: 41075789.9690 - mean_absolute_error: 41075789.9690 - val_loss: 43400463.1619 - val_mean_absolute_error: 43400463.1619

Epoch 00240: val_loss improved from 43402226.30476 to 43400463.16190, saving model to Weights-240--43400463.16190.hdf5
Epoch 241/300
1678/1678 [==============================] - 0s 86us/step - loss: 42500755.9476 - mean_absolute_error: 42500755.9476 - val_loss: 43399223.7714 - val_mean_absolute_error: 43399223.7714

Epoch 00241: val_loss improved from 43400463.16190 to 43399223.77143, saving model to Weights-241--43399223.77143.hdf5
Epoch 242/300
1678/1678 [==============================] - 0s 110us/step - loss: 42711460.0429 - mean_absolute_error: 42711460.0429 - val_loss: 43399415.0667 - val_mean_absolute_error: 43399415.0667

Epoch 00242: val_loss did not improve from 43399223.77143
Epoch 243/300
1678/1678 [==============================] - 0s 86us/step - loss: 42368845.1061 - mean_absolute_error: 42368845.1061 - val_loss: 43400268.0381 - val_mean_absolute_error: 43400268.0381

Epoch 00243: val_loss did not improve from 43399223.77143
Epoch 244/300
1678/1678 [==============================] - 0s 85us/step - loss: 43239414.7867 - mean_absolute_error: 43239414.7867 - val_loss: 43399957.2381 - val_mean_absolute_error: 43399957.2381

Epoch 00244: val_loss did not improve from 43399223.77143
Epoch 245/300
1678/1678 [==============================] - 0s 86us/step - loss: 43222332.7580 - mean_absolute_error: 43222332.7580 - val_loss: 43398780.5333 - val_mean_absolute_error: 43398780.5333

Epoch 00245: val_loss improved from 43399223.77143 to 43398780.53333, saving model to Weights-245--43398780.53333.hdf5
Epoch 246/300
1678/1678 [==============================] - 0s 90us/step - loss: 43113008.8486 - mean_absolute_error: 43113008.8486 - val_loss: 43399543.5810 - val_mean_absolute_error: 43399543.5810

Epoch 00246: val_loss did not improve from 43398780.53333
Epoch 247/300
1678/1678 [==============================] - 0s 88us/step - loss: 43798735.3039 - mean_absolute_error: 43798735.3039 - val_loss: 43401875.4857 - val_mean_absolute_error: 43401875.4857

Epoch 00247: val_loss did not improve from 43398780.53333
Epoch 248/300
1678/1678 [==============================] - 0s 87us/step - loss: 42853615.7998 - mean_absolute_error: 42853615.7998 - val_loss: 43402415.0857 - val_mean_absolute_error: 43402415.0857

Epoch 00248: val_loss did not improve from 43398780.53333
Epoch 249/300
1678/1678 [==============================] - 0s 112us/step - loss: 41970627.9857 - mean_absolute_error: 41970627.9857 - val_loss: 43400796.3619 - val_mean_absolute_error: 43400796.3619

Epoch 00249: val_loss did not improve from 43398780.53333
Epoch 250/300
1678/1678 [==============================] - 0s 113us/step - loss: 41359807.0751 - mean_absolute_error: 41359807.0751 - val_loss: 43399302.4952 - val_mean_absolute_error: 43399302.4952

Epoch 00250: val_loss did not improve from 43398780.53333
Epoch 251/300
1678/1678 [==============================] - 0s 112us/step - loss: 42045087.8832 - mean_absolute_error: 42045087.8832 - val_loss: 43397762.0190 - val_mean_absolute_error: 43397762.0190

Epoch 00251: val_loss improved from 43398780.53333 to 43397762.01905, saving model to Weights-251--43397762.01905.hdf5
Epoch 252/300
1678/1678 [==============================] - 0s 112us/step - loss: 43074151.1704 - mean_absolute_error: 43074151.1704 - val_loss: 43397890.0762 - val_mean_absolute_error: 43397890.0762

Epoch 00252: val_loss did not improve from 43397762.01905
Epoch 253/300
1678/1678 [==============================] - 0s 119us/step - loss: 41741539.6424 - mean_absolute_error: 41741539.6424 - val_loss: 43397763.2571 - val_mean_absolute_error: 43397763.2571

Epoch 00253: val_loss did not improve from 43397762.01905
Epoch 254/300
1678/1678 [==============================] - 0s 94us/step - loss: 43343140.1859 - mean_absolute_error: 43343140.1859 - val_loss: 43397188.8952 - val_mean_absolute_error: 43397188.8952

Epoch 00254: val_loss improved from 43397762.01905 to 43397188.89524, saving model to Weights-254--43397188.89524.hdf5
Epoch 255/300
1678/1678 [==============================] - 0s 88us/step - loss: 43000774.9797 - mean_absolute_error: 43000774.9797 - val_loss: 43397575.1619 - val_mean_absolute_error: 43397575.1619

Epoch 00255: val_loss did not improve from 43397188.89524
Epoch 256/300
1678/1678 [==============================] - 0s 91us/step - loss: 43481177.8546 - mean_absolute_error: 43481177.8546 - val_loss: 43397086.4571 - val_mean_absolute_error: 43397086.4571

Epoch 00256: val_loss improved from 43397188.89524 to 43397086.45714, saving model to Weights-256--43397086.45714.hdf5
Epoch 257/300
1678/1678 [==============================] - 0s 93us/step - loss: 41696834.9869 - mean_absolute_error: 41696834.9869 - val_loss: 43397480.3238 - val_mean_absolute_error: 43397480.3238

Epoch 00257: val_loss did not improve from 43397086.45714
Epoch 258/300
1678/1678 [==============================] - 0s 85us/step - loss: 43272188.3337 - mean_absolute_error: 43272188.3337 - val_loss: 43398387.5048 - val_mean_absolute_error: 43398387.5048

Epoch 00258: val_loss did not improve from 43397086.45714
Epoch 259/300
1678/1678 [==============================] - 0s 92us/step - loss: 43499363.9738 - mean_absolute_error: 43499363.9738 - val_loss: 43397602.8571 - val_mean_absolute_error: 43397602.8571

Epoch 00259: val_loss did not improve from 43397086.45714
Epoch 260/300
1678/1678 [==============================] - 0s 89us/step - loss: 42135287.7378 - mean_absolute_error: 42135287.7378 - val_loss: 43398229.0857 - val_mean_absolute_error: 43398229.0857

Epoch 00260: val_loss did not improve from 43397086.45714
Epoch 261/300
1678/1678 [==============================] - 0s 88us/step - loss: 41716591.9523 - mean_absolute_error: 41716591.9523 - val_loss: 43398747.6952 - val_mean_absolute_error: 43398747.6952

Epoch 00261: val_loss did not improve from 43397086.45714
Epoch 262/300
1678/1678 [==============================] - 0s 89us/step - loss: 42713607.3897 - mean_absolute_error: 42713607.3897 - val_loss: 43399169.2952 - val_mean_absolute_error: 43399169.2952

Epoch 00262: val_loss did not improve from 43397086.45714
Epoch 263/300
1678/1678 [==============================] - 0s 85us/step - loss: 42614344.5483 - mean_absolute_error: 42614344.5483 - val_loss: 43399721.7524 - val_mean_absolute_error: 43399721.7524

Epoch 00263: val_loss did not improve from 43397086.45714
Epoch 264/300
1678/1678 [==============================] - 0s 95us/step - loss: 42038495.6138 - mean_absolute_error: 42038495.6138 - val_loss: 43400856.1524 - val_mean_absolute_error: 43400856.1524

Epoch 00264: val_loss did not improve from 43397086.45714
Epoch 265/300
1678/1678 [==============================] - 0s 90us/step - loss: 41558340.8176 - mean_absolute_error: 41558340.8176 - val_loss: 43399693.3333 - val_mean_absolute_error: 43399693.3333

Epoch 00265: val_loss did not improve from 43397086.45714
Epoch 266/300

1678/1678 [==============================] - 0s 91us/step - loss: 40964797.3349 - mean_absolute_error: 40964797.3349 - val_loss: 43397692.6095 - val_mean_absolute_error: 43397692.6095

Epoch 00266: val_loss did not improve from 43397086.45714
Epoch 267/300
1678/1678 [==============================] - 0s 83us/step - loss: 41807192.3004 - mean_absolute_error: 41807192.3004 - val_loss: 43397287.6952 - val_mean_absolute_error: 43397287.6952

Epoch 00267: val_loss did not improve from 43397086.45714
Epoch 268/300
1678/1678 [==============================] - 0s 92us/step - loss: 42057016.6913 - mean_absolute_error: 42057016.6913 - val_loss: 43397616.7810 - val_mean_absolute_error: 43397616.7810

Epoch 00268: val_loss did not improve from 43397086.45714
Epoch 269/300
1678/1678 [==============================] - 0s 86us/step - loss: 42147487.9499 - mean_absolute_error: 42147487.9499 - val_loss: 43398299.2190 - val_mean_absolute_error: 43398299.2190

Epoch 00269: val_loss did not improve from 43397086.45714
Epoch 270/300
1678/1678 [==============================] - 0s 86us/step - loss: 44020014.4815 - mean_absolute_error: 44020014.4815 - val_loss: 43397386.8381 - val_mean_absolute_error: 43397386.8381

Epoch 00270: val_loss did not improve from 43397086.45714
Epoch 271/300
1678/1678 [==============================] - 0s 85us/step - loss: 42304113.9499 - mean_absolute_error: 42304113.9499 - val_loss: 43395587.1048 - val_mean_absolute_error: 43395587.1048

Epoch 00271: val_loss improved from 43397086.45714 to 43395587.10476, saving model to Weights-271--43395587.10476.hdf5
Epoch 272/300
1678/1678 [==============================] - 0s 101us/step - loss: 42714404.2122 - mean_absolute_error: 42714404.2122 - val_loss: 43395800.3619 - val_mean_absolute_error: 43395800.3619

Epoch 00272: val_loss did not improve from 43395587.10476
Epoch 273/300
1678/1678 [==============================] - 0s 85us/step - loss: 41903006.6246 - mean_absolute_error: 41903006.6246 - val_loss: 43395770.7429 - val_mean_absolute_error: 43395770.7429

Epoch 00273: val_loss did not improve from 43395587.10476
Epoch 274/300
1678/1678 [==============================] - 0s 87us/step - loss: 43338902.8033 - mean_absolute_error: 43338902.8033 - val_loss: 43398926.8381 - val_mean_absolute_error: 43398926.8381

Epoch 00274: val_loss did not improve from 43395587.10476
Epoch 275/300
1678/1678 [==============================] - 0s 89us/step - loss: 43307351.2479 - mean_absolute_error: 43307351.2479 - val_loss: 43399989.1429 - val_mean_absolute_error: 43399989.1429

Epoch 00275: val_loss did not improve from 43395587.10476
Epoch 276/300
1678/1678 [==============================] - 0s 87us/step - loss: 43098899.2491 - mean_absolute_error: 43098899.2491 - val_loss: 43401692.8952 - val_mean_absolute_error: 43401692.8952

Epoch 00276: val_loss did not improve from 43395587.10476
Epoch 277/300
1678/1678 [==============================] - 0s 89us/step - loss: 43234319.5709 - mean_absolute_error: 43234319.5709 - val_loss: 43402466.7619 - val_mean_absolute_error: 43402466.7619

Epoch 00277: val_loss did not improve from 43395587.10476
Epoch 278/300
1678/1678 [==============================] - 0s 92us/step - loss: 41188497.2086 - mean_absolute_error: 41188497.2086 - val_loss: 43399843.2952 - val_mean_absolute_error: 43399843.2952

Epoch 00278: val_loss did not improve from 43395587.10476
Epoch 279/300
1678/1678 [==============================] - 0s 85us/step - loss: 43594270.0167 - mean_absolute_error: 43594270.0167 - val_loss: 43400673.5048 - val_mean_absolute_error: 43400673.5048

Epoch 00279: val_loss did not improve from 43395587.10476
Epoch 280/300
1678/1678 [==============================] - 0s 89us/step - loss: 42828694.9511 - mean_absolute_error: 42828694.9511 - val_loss: 43402613.3905 - val_mean_absolute_error: 43402613.3905

Epoch 00280: val_loss did not improve from 43395587.10476
Epoch 281/300
1678/1678 [==============================] - 0s 88us/step - loss: 42523136.7485 - mean_absolute_error: 42523136.7485 - val_loss: 43402134.0000 - val_mean_absolute_error: 43402134.0000

Epoch 00281: val_loss did not improve from 43395587.10476
Epoch 282/300
1678/1678 [==============================] - 0s 88us/step - loss: 43029954.4839 - mean_absolute_error: 43029954.4839 - val_loss: 43404522.4762 - val_mean_absolute_error: 43404522.4762

Epoch 00282: val_loss did not improve from 43395587.10476
Epoch 283/300
1678/1678 [==============================] - 0s 88us/step - loss: 42454709.6925 - mean_absolute_error: 42454709.6925 - val_loss: 43404834.7429 - val_mean_absolute_error: 43404834.7429

Epoch 00283: val_loss did not improve from 43395587.10476
Epoch 284/300
1678/1678 [==============================] - 0s 85us/step - loss: 43623287.4565 - mean_absolute_error: 43623287.4565 - val_loss: 43403689.6762 - val_mean_absolute_error: 43403689.6762

Epoch 00284: val_loss did not improve from 43395587.10476
Epoch 285/300
1678/1678 [==============================] - 0s 88us/step - loss: 42678439.9213 - mean_absolute_error: 42678439.9213 - val_loss: 43403022.9143 - val_mean_absolute_error: 43403022.9143

Epoch 00285: val_loss did not improve from 43395587.10476
Epoch 286/300
1678/1678 [==============================] - 0s 87us/step - loss: 43505958.9654 - mean_absolute_error: 43505958.9654 - val_loss: 43403098.0952 - val_mean_absolute_error: 43403098.0952

Epoch 00286: val_loss did not improve from 43395587.10476
Epoch 287/300
1678/1678 [==============================] - 0s 88us/step - loss: 42878755.7521 - mean_absolute_error: 42878755.7521 - val_loss: 43402843.3333 - val_mean_absolute_error: 43402843.3333

Epoch 00287: val_loss did not improve from 43395587.10476
Epoch 288/300
1678/1678 [==============================] - 0s 88us/step - loss: 43044006.2145 - mean_absolute_error: 43044006.2145 - val_loss: 43401362.5524 - val_mean_absolute_error: 43401362.5524

Epoch 00288: val_loss did not improve from 43395587.10476
Epoch 289/300
1678/1678 [==============================] - 0s 89us/step - loss: 42970869.4446 - mean_absolute_error: 42970869.4446 - val_loss: 43400750.0762 - val_mean_absolute_error: 43400750.0762

Epoch 00289: val_loss did not improve from 43395587.10476
Epoch 290/300
1678/1678 [==============================] - 0s 88us/step - loss: 41610157.2110 - mean_absolute_error: 41610157.2110 - val_loss: 43400461.8095 - val_mean_absolute_error: 43400461.8095

Epoch 00290: val_loss did not improve from 43395587.10476
Epoch 291/300
1678/1678 [==============================] - 0s 86us/step - loss: 42838163.2563 - mean_absolute_error: 42838163.2563 - val_loss: 43398876.7810 - val_mean_absolute_error: 43398876.7810

Epoch 00291: val_loss did not improve from 43395587.10476
Epoch 292/300
1678/1678 [==============================] - 0s 89us/step - loss: 43301948.8176 - mean_absolute_error: 43301948.8176 - val_loss: 43401117.2571 - val_mean_absolute_error: 43401117.2571

Epoch 00292: val_loss did not improve from 43395587.10476
Epoch 293/300
1678/1678 [==============================] - 0s 89us/step - loss: 41743931.4660 - mean_absolute_error: 41743931.4660 - val_loss: 43402173.9619 - val_mean_absolute_error: 43402173.9619

Epoch 00293: val_loss did not improve from 43395587.10476
Epoch 294/300
1678/1678 [==============================] - 0s 89us/step - loss: 42858047.0322 - mean_absolute_error: 42858047.0322 - val_loss: 43401346.5143 - val_mean_absolute_error: 43401346.5143

Epoch 00294: val_loss did not improve from 43395587.10476
Epoch 295/300
1678/1678 [==============================] - 0s 85us/step - loss: 42753996.8629 - mean_absolute_error: 42753996.8629 - val_loss: 43401138.4381 - val_mean_absolute_error: 43401138.4381

Epoch 00295: val_loss did not improve from 43395587.10476
Epoch 296/300
1678/1678 [==============================] - 0s 90us/step - loss: 42871045.0060 - mean_absolute_error: 42871045.0060 - val_loss: 43401964.4571 - val_mean_absolute_error: 43401964.4571

Epoch 00296: val_loss did not improve from 43395587.10476
Epoch 297/300
1678/1678 [==============================] - 0s 86us/step - loss: 42114935.9452 - mean_absolute_error: 42114935.9452 - val_loss: 43398905.0857 - val_mean_absolute_error: 43398905.0857

Epoch 00297: val_loss did not improve from 43395587.10476
Epoch 298/300
1678/1678 [==============================] - 0s 91us/step - loss: 41837559.1657 - mean_absolute_error: 41837559.1657 - val_loss: 43399075.2190 - val_mean_absolute_error: 43399075.2190

Epoch 00298: val_loss did not improve from 43395587.10476
Epoch 299/300
1678/1678 [==============================] - 0s 83us/step - loss: 42726279.6996 - mean_absolute_error: 42726279.6996 - val_loss: 43400284.9714 - val_mean_absolute_error: 43400284.9714

Epoch 00299: val_loss did not improve from 43395587.10476
Epoch 300/300
1678/1678 [==============================] - 0s 86us/step - loss: 42427540.2574 - mean_absolute_error: 42427540.2574 - val_loss: 43400371.7905 - val_mean_absolute_error: 43400371.7905

Epoch 00300: val_loss did not improve from 43395587.10476